openapi: '3.0.3'
info:
  title: 'RingCentral Connect Platform API'
  description: 'RingCentral Connect Platform API'
  version: '1.0.48'
  contact:
    name: 'RingCentral Connect Platform'
    url: 'http://developers.ringcentral.com'
    email: 'platform@ringcentral.com'
  license:
    name: 'RingCentral API License Agreement and Terms of Use'
    url: 'https://www.ringcentral.com/legal/apilitos.html'
  x-logo:
    url: 'https://brand-assets.ringcentral.com/f7cade80b7cc92b991cf4d2806d6bd78/files/71fd6e98-4922-4294-a92a-7b844ec6bcb5/serviceSiteMainLogo.svg'
    altText: 'RingCentral logo'
    href: 'https://developers.ringcentral.com'
servers:
  - url: 'https://platform.ringcentral.com'
    description: 'Production entry point'
  - url: 'https://platform.devtest.ringcentral.com'
    description: 'Developer sandbox entry point'
x-tagGroups:
  - name: 'Voice'
    popular: true
    tags:
      - 'Business Hours'
      - 'Call Blocking'
      - 'Call Control'
      - 'Call Forwarding'
      - 'Call Handling Rules'
      - 'Call Log'
      - 'Call History'
      - 'Call Log Export'
      - 'Call Monitoring Groups'
      - 'Call Queues'
      - 'Call Recordings'
      - 'Call Recording Settings'
      - 'Device SIP Registration'
      - 'Greetings'
      - 'IVR'
      - 'RingOut'
      - 'Verification Call'
  - name: 'SMS and Fax'
    popular: true
    tags:
      - 'Fax'
      - 'Message Exports'
      - 'Message Store'
      - 'Pager Messages'
      - 'SMS'
      - 'High Volume SMS'
      - 'Voicemail Broadcasting'
      - 'SMS Log Export'
  - name: 'Team Messaging'
    popular: true
    tags:
      - 'Adaptive Cards'
      - 'Bots'
      - 'Calendar Events'
      - 'Chats'
      - 'Conversations'
      - 'Compliance Exports'
      - 'Contacts'
      - 'Incoming Webhooks'
      - 'Notes'
      - 'Posts'
      - 'Profile'
      - 'Tasks'
      - 'Teams'
  - name: 'Video'
    popular: true
    tags:
      - 'Bridge Management'
      - 'Delegation Management'
      - 'Meetings History'
      - 'RCM Meetings (Legacy)'
      - 'RCM Webinars (Legacy)'
  - name: 'Webinar'
    popular: true
    tags:
      - 'Webinars and Sessions'
      - 'Invitees'
      - 'Historical Webinars'
      - 'Historical Recordings'
      - 'Registration Management'
      - 'Registrants'
      - 'Webinar Subscriptions'
      - 'Webinar Analytics'
  - name: 'Analytics'
    popular: true
    tags:
      - 'Line Of Business Analytics'
  - name: 'Artificial Intelligence'
    popular: true
    tags:
      - 'Text'
      - 'Audio'
      - 'Insights'
  - name: 'Using the API'
    tags:
      - 'Welcome'
      - 'Changelog'
      - 'Data Formats'
      - 'Localization'
      - 'Method Features'
  - name: 'Authentication'
    tags:
      - 'OAuth/OIDC'
      - 'Interoperability'
  - name: 'Account'
    tags:
      - 'Company'
      - 'Custom Fields'
      - 'Features'
      - 'Licenses'
      - 'Tax Locations'
      - 'Cost Centers'
      - 'Multi-Site'
      - 'Phone Numbers'
      - 'Presence'
      - 'Regional Settings'
      - 'User Permissions'
      - 'User Settings'
      - 'Audit Trail'
  - name: 'Provisioning'
    tags:
      - 'Automatic Location Updates'
      - 'Devices'
      - 'Extensions'
      - 'Paging Only Groups'
      - 'Park Locations'
      - 'Phone Lines'
      - 'SCIM'
      - 'Shared Lines'
      - 'Video Configuration'
  - name: 'Address Book'
    tags:
      - 'External Contacts'
      - 'Internal Contacts'
      - 'Hybrid Directory Contacts'
  - name: 'Roles and Permissions'
    tags:
      - 'Permissions'
      - 'Role Management'
      - 'Site Administration'
      - 'User Groups'
  - name: 'Events & Notifications'
    tags:
      - 'Subscriptions'
  - name: 'User Integrations'
    tags:
      - 'Token Management'
      - 'Calendar Management'
      - 'Calendar Event Management'
      - 'Calendar Presence Link'
      - 'Cloud Contacts'
      - 'Cloud Directory'
  - name: 'Rooms'
    tags:
      - 'Rooms Client API'
      - 'Rooms Management API'
  - name: 'App Management'
    tags:
      - 'App Gallery'
      - 'App Rating Review'
      - 'Bot Provisioning'
  - name: 'Utilities'
    tags:
      - 'API Info'
      - 'Application Settings'
      - 'Async Tasks'
      - 'User Notifications'
security:
  - OAuth2: []
tags:
  - name: 'SMS'
  - name: 'Greetings'
  - name: 'Audit Trail'
  - name: 'Incoming Webhooks'
  - name: 'Call Monitoring Groups'
  - name: 'Business Hours'
  - name: 'Message Exports'
    description: "External interface to export user's messages"
  - name: 'Message Store'
  - name: 'Call Forwarding'
  - name: 'Device SIP Registration'
  - name: 'Call Queues'
  - name: 'Posts'
  - name: 'Compliance Exports'
  - name: 'Call Handling Rules'
  - name: 'Phone Numbers'
  - name: 'API Info'
  - name: 'Tasks'
  - name: 'User Permissions'
  - name: 'Line Of Business Analytics'
  - name: 'High Volume SMS'
  - name: 'Internal Contacts'
  - name: 'Chats'
  - name: 'Delegation Management'
  - name: 'OAuth/OIDC'
    description: 'Public OAuth 2.0 and OpenID Connect Resources'
  - name: 'Calendar Events'
  - name: 'Devices'
  - name: 'Conversations'
  - name: 'Call Control'
  - name: 'Company'
  - name: 'Call Recording Settings'
  - name: 'Video Configuration'
  - name: 'Call Log'
  - name: 'Fax'
  - name: 'User Settings'
  - name: 'Site Administration'
  - name: 'Pager Messages'
  - name: 'Custom Fields'
  - name: 'External Contacts'
  - name: 'RingOut'
  - name: 'Bridge Management'
  - name: 'Adaptive Cards'
  - name: 'Call Blocking'
  - name: 'Regional Settings'
  - name: 'Paging Only Groups'
  - name: 'Subscriptions'
    description: 'General interface to manage subscriptions'
  - name: 'Multi-Site'
  - name: 'Presence'
  - name: 'Teams'
  - name: 'Features'
  - name: 'RCM Meetings (Legacy)'
  - name: 'Notes'
  - name: 'Automatic Location Updates'
  - name: 'SCIM'
  - name: 'Meetings History'
  - name: 'Call Recordings'
  - name: 'Extensions'
  - name: 'Profile'
  - name: 'Role Management'
  - name: 'IVR'
paths:
  /restapi:
    get:
      tags:
        - 'API Info'
      summary: 'Get API Versions'
      description: 'Returns current API version(s) and server info.'
      operationId: 'readAPIVersions'
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionsList'
      x-api-group: 'restapi'
      x-availability: 'High'
      x-throttling-group: 'NoThrottling'
  /restapi/oauth/token:
    post:
      tags:
        - 'OAuth/OIDC'
      summary: 'Get OAuth Token'
      description: |
        Returns access (and potentially refresh) tokens for making API requests.

        Depending on client application type
        requests to this endpoint may require authentication with HTTP Basic scheme
        using registered client ID and client secret as login and password, correspondingly.
      operationId: 'getToken'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetTokenRequest'
      responses:
        '200':
          description: 'Access/Refresh Tokens'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfo'
        '400':
          description: |
            Possible responses:
            1. invalid_request: Unsupported grant type
            2. invalid_client: Bad Application Release Status: Blocked
        '415':
          description: 'Unsupported Media Type'
        '429':
          description: 'Request rate exceeded'
      x-api-group: 'oauth/token'
      x-throttling-group: 'Auth'
  /restapi/oauth/authorize:
    get:
      tags:
        - 'OAuth/OIDC'
      summary: 'OAuth 2.0 Authorization'
      description: 'Performs OAuth 2.0 authorization (GET version)'
      operationId: 'authorize'
      responses:
        '302':
          description: 'Found'
      x-api-group: 'oauth/authorize'
      x-throttling-group: 'Auth'
    post:
      tags:
        - 'OAuth/OIDC'
      summary: 'OAuth 2.0 Authorization (POST)'
      description: 'Performs OAuth 2.0 authorization (POST version)'
      operationId: 'authorize2'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizeRequest'
      responses:
        '302':
          description: 'Found'
      x-api-group: 'oauth/authorize'
      x-throttling-group: 'Auth'
  /restapi/oauth/revoke:
    post:
      tags:
        - 'OAuth/OIDC'
      summary: 'Revoke Token'
      description: |
        Revokes previously issued access and refresh token.

        Depending on client application type
        requests to this endpoint may require authentication with HTTP Basic scheme
        using registered client ID and client secret as login and password, correspondingly.
      operationId: 'revokeToken'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
        required: true
      responses:
        '200':
          description: 'OK'
      x-api-group: 'oauth/revoke'
      x-throttling-group: 'Auth'
  /restapi/v1.0/account/{accountId}:
    get:
      tags:
        - 'Company'
      summary: 'Get Account Info'
      description: |
        Returns basic information about a particular RingCentral
        customer account.
      operationId: 'readAccountInfo'
      parameters:
        - name: 'accountId'
          in: 'path'
          description: |
            Internal identifier of a RingCentral account or tilde (~) to
            indicate the account logged-in within the current session
          required: true
          schema:
            type: 'string'
            default: '~'
      responses:
        '200':
          description: 'Account information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountInfoResponse'
      x-api-group: 'account'
      x-feature: 'ReadCompanyInfo'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyInfo'
  /restapi/v1.0/account/{accountId}/business-hours:
    get:
      tags:
        - 'Business Hours'
      summary: 'Get Company Business Hours'
      description: 'Returns the company business hours schedule. Business hours (and After hours - all the remaining time) schedules are commonly used for setting call handling rules - `business-hours-rule` and `after-hours-rule` correspondingly.'
      operationId: 'readCompanyBusinessHours'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessHours'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/business-hours'
      x-feature: 'ReadExtensionAnsweringRules'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyAnsweringRules'
    put:
      tags:
        - 'Business Hours'
      summary: 'Update Company Business Hours'
      description: 'Updates the company business hours schedule.'
      operationId: 'updateCompanyBusinessHours'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBusinessHoursUpdateRequest'
        required: true
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessHours'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'extension/answering-rule'
      x-feature: 'EditExtensionAnsweringRules'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditExtensions'
      x-user-permission: 'EditUserAnsweringRules'
  /restapi/v1.0/account/{accountId}/device/{deviceId}:
    get:
      tags:
        - 'Devices'
      summary: 'Get Device'
      description: 'Returns account device(s) by their ID(s).'
      operationId: 'readDevice'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/DeviceId'
        - name: 'syncEmergencyAddress'
          in: 'query'
          description: 'Specifies if an emergency address should be synchronized or not'
          schema:
            type: 'boolean'
            default: false
      responses:
        '200':
          description: 'Account device(s) information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResource'
      x-api-group: 'account/device'
      x-feature: 'ReadAccountDevices'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyDevices'
    put:
      tags:
        - 'Devices'
      summary: 'Update Device'
      description: 'Updates account device(s) by their ID(s).'
      operationId: 'updateDevice'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/DeviceId'
        - name: 'prestatement'
          in: 'query'
          schema:
            type: 'boolean'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeviceUpdate'
        required: true
      responses:
        '200':
          description: 'Updated device(s) information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResource'
      x-feature: 'EditAccountDevices'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyDevices'
  /restapi/v1.0/account/{accountId}/device/{deviceId}/sip-info:
    get:
      tags:
        - 'Devices'
      summary: 'Get Device SIP Info'
      description: 'Returns device SIP information.'
      operationId: 'readDeviceSipInfo'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/DeviceId'
      responses:
        '200':
          description: 'Device SIP information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipInfoResource'
      x-feature: 'ReadAccountDevices'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyDevices'
  /restapi/v1.0/account/{accountId}/device/{deviceId}/emergency:
    put:
      tags:
        - 'Devices'
      summary: 'Update Device Emergency Info'
      description: 'Updates account device emergency information.'
      operationId: 'updateDeviceEmergency'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/DeviceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeviceUpdate'
        required: true
      responses:
        '200':
          description: 'Updated emergency information of a device'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResource'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyDevices'
  /restapi/v1.0/account/{accountId}/custom-fields:
    get:
      tags:
        - 'Custom Fields'
      summary: 'Get Custom Field List'
      description: 'Returns the list of created custom fields.'
      operationId: 'listCustomFields'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldList'
      x-api-group: 'account/custom-fields'
      x-feature: 'EditUsers'
      x-throttling-group: 'Light'
      x-availability: 'High'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadUserInfo'
    post:
      tags:
        - 'Custom Fields'
      summary: 'Create Custom Field'
      description: 'Creates custom field attached to the object.'
      operationId: 'createCustomField'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldCreateRequest'
        required: false
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldModel'
      x-api-group: 'account/custom-fields'
      x-feature: 'EditUsers'
      x-throttling-group: 'Medium'
      x-availability: 'High'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'Users'
  /restapi/v1.0/account/{accountId}/custom-fields/{fieldId}:
    put:
      tags:
        - 'Custom Fields'
      summary: 'Update Custom Field'
      description: 'Updates custom field by ID specified in path.'
      operationId: 'updateCustomField'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/FieldId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldUpdateRequest'
        required: false
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldModel'
      x-api-group: 'account/custom-field'
      x-feature: 'EditUsers'
      x-throttling-group: 'Medium'
      x-availability: 'High'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'Users'
    delete:
      tags:
        - 'Custom Fields'
      summary: 'Delete Custom Field'
      description: 'Deletes custom field(s) by ID(s) with the corresponding values.'
      operationId: 'deleteCustomField'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/FieldId'
      responses:
        '204':
          description: 'Successful response'
      x-api-group: 'account/custom-field'
      x-feature: 'EditUsers'
      x-throttling-group: 'Medium'
      x-availability: 'High'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'Users'
  /restapi/v1.0/account/{accountId}/call-recording:
    get:
      tags:
        - 'Call Recording Settings'
      summary: 'Get Call Recording Settings'
      description: 'Returns call recording settings.'
      operationId: 'readCallRecordingSettings'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingSettingsResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/call-recording'
      x-feature: 'ReadCompanyInfo'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyInfo'
    put:
      tags:
        - 'Call Recording Settings'
      summary: 'Update Call Recording Settings'
      description: 'Updates current call recording settings.'
      operationId: 'updateCallRecordingSettings'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRecordingSettingsResource'
        required: false
      responses:
        '200':
          description: 'OK: Updated Call Recording Settings'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingSettingsResource'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/call-recording'
      x-feature: 'EditCompanyInfo'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyInfo'
  /restapi/v1.0/account/{accountId}/call-recording/custom-greetings:
    get:
      tags:
        - 'Call Recording Settings'
      summary: 'Get Call Recording Custom Greeting List'
      description: 'Returns call recording custom greetings.'
      operationId: 'listCallRecordingCustomGreetings'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: 'type'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'StartRecording'
              - 'StopRecording'
              - 'AutomaticRecording'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingCustomGreetings'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/call-recording/custom-greetings'
      x-feature: 'ReadCompanyInfo'
      x-availability: 'High'
      x-throttling-group: 'Medium'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyInfo'
    delete:
      tags:
        - 'Call Recording Settings'
      summary: 'Delete Call Recording Custom Greeting List'
      description: 'Deletes call recording custom greetings.'
      operationId: 'deleteCallRecordingCustomGreetingList'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '204':
          description: 'No Content'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/call-recording/custom-greetings'
      x-feature: 'EditCompanyInfo'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyInfo'
  /restapi/v1.0/account/{accountId}/call-recording/custom-greetings/{greetingId}:
    delete:
      tags:
        - 'Call Recording Settings'
      summary: 'Delete Call Recording Custom Greeting'
      description: 'Deletes call recording custom greeting(s).'
      operationId: 'deleteCallRecordingCustomGreeting'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/GreetingId'
      responses:
        '200':
          description: 'Success'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/call-recording/custom-greetings'
      x-feature: 'EditCompanyInfo'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyInfo'
  /restapi/v1.0/account/{accountId}/call-recording/bulk-assign:
    post:
      tags:
        - 'Call Recording Settings'
      summary: 'Update Call Recording Extension List'
      description: 'Creates or updates the list of extensions to be recorded.'
      operationId: 'updateCallRecordingExtensionList'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAccountCallRecordingsResource'
        required: true
      responses:
        '200':
          description: 'Success'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/call-recording/bulk-assign'
      x-feature: 'ReadCompanyInfo'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyInfo'
  /restapi/v1.0/account/{accountId}/call-recording/extensions:
    get:
      tags:
        - 'Call Recording Settings'
      summary: 'Get Call Recording Extension List'
      description: 'Returns the list of extensions to be recorded.'
      operationId: 'listCallRecordingExtensions'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: 'Extension List'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingExtensions'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/call-recording/extensions'
      x-feature: 'ReadCompanyInfo'
      x-availability: 'High'
      x-throttling-group: 'Medium'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyInfo'
  /restapi/v1.0/account/{accountId}/service-info:
    get:
      tags:
        - 'Company'
      summary: 'Get Account Service Info'
      description: |
        Returns the information about service plan, available features
        and limitations for a particular RingCentral customer account.
      operationId: 'readAccountServiceInfo'
      parameters:
        - name: 'accountId'
          in: 'path'
          description: |
            Internal identifier of a RingCentral account or tilde (~) to
            indicate the account logged-in within the current session
          required: true
          schema:
            type: 'string'
            default: '~'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountServiceInfo'
      x-api-group: 'account/service-info'
      x-feature: 'ReadServicePlan'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadServicePlanInfo'
  /restapi/v1.0/account/{accountId}/telephony/call-out:
    post:
      tags:
        - 'Call Control'
      summary: 'Make CallOut'
      description: 'Creates a new outbound call out session. Currently this method is supported for Softphone/Hardphone only, since device IDs for WebRTC/Mobile apps cannot be obtained.'
      externalDocs:
        description: 'Find more info about body and response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Sessions/op_session_add_CallOut'
      operationId: 'createCallOutCallSession'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeCallOutRequest'
        required: true
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallSession'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/call-out'
      x-throttling-group: 'Heavy'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/conference:
    post:
      tags:
        - 'Call Control'
      summary: 'Start Conference Call Session'
      description: 'Initiates a conference call session.'
      externalDocs:
        description: 'Find more info about body and response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Sessions/op_session_add_Conference'
      operationId: 'createConferenceCallSession'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallSession'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/conference'
      x-throttling-group: 'Heavy'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}:
    get:
      tags:
        - 'Call Control'
      summary: 'Get Call Session Status'
      description: 'Returns the status of a call session by ID.'
      operationId: 'readCallSessionStatus'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - name: 'timestamp'
          in: 'query'
          description: 'The date and time of a call session latest change'
          schema:
            type: 'string'
        - name: 'timeout'
          in: 'query'
          description: 'The time frame of awaiting for a status change before sending the resulting one in response'
          schema:
            type: 'string'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallSessionObject'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
      x-notifications:
        - $ref: '#/components/schemas/AccountTelephonySessionsEvent'
        - $ref: '#/components/schemas/ExtensionTelephonySessionsEvent'
    delete:
      tags:
        - 'Call Control'
      summary: 'Drop Call Session'
      description: 'Drops a call session.'
      operationId: 'deleteCallSession'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
      responses:
        '204':
          description: 'No Content'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/supervise:
    post:
      tags:
        - 'Call Control'
      summary: 'Supervise Call Session'
      description: "Allows to monitor a call session in 'Listen' mode. Input parameters should contain internal identifiers of a monitored user and a supervisor's device. Call session should be specified in path. Please note that this method supports single channel audio flow, which means that audio of both call participants is mixed and delivered to the supervisor in single audio channel. Currently this method is supported for Softphone/Hardphone only, since device IDs for WebRTC/Mobile apps cannot be obtained."
      operationId: 'superviseCallSession'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuperviseCallSessionRequest'
        required: true
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperviseCallSessionResponse'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/supervise'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/bring-in:
    post:
      tags:
        - 'Call Control'
      summary: 'Bring-In Call Party'
      description: "Adds a new party to the call session by bringing-in an established SIP call connection. The maximum number of parties to bring-in is 10; only 1 call party can be added per request. Currently the method is supported for sessions of 'Conference' origin only."
      externalDocs:
        description: 'Find more info about body and response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Add_Party/op_parties_add_bringIn'
      operationId: 'createCallPartyWithBringIn'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPartyRequest'
        required: true
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/bring-in'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}:
    get:
      tags:
        - 'Call Control'
      summary: 'Get Call Party Status'
      description: 'Returns a call party status by ID.'
      externalDocs:
        description: 'Find more info about response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Parties/op_party_get'
      operationId: 'readCallPartyStatus'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
    delete:
      tags:
        - 'Call Control'
      summary: 'Delete Call Party'
      description: 'Deletes a party from a call session by ID. A party can be deleted only if supervised or parked. It is possible to delete only one conference participant per request.'
      operationId: 'deleteCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      responses:
        '204':
          description: 'No Content'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
    patch:
      tags:
        - 'Call Control'
      summary: 'Update Call Party'
      description: "Modifies a call party by ID. There is a known limitation for Mute scenario - mute via REST API doesn't work with mute placed via RingCentral apps or HardPhone. It means that if you muted participant via Call Control API and RingCentral Desktop app you need to unmute both endpoints to bring the media back."
      operationId: 'updateCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartyUpdateRequest'
        required: true
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/park:
    post:
      tags:
        - 'Call Control'
      summary: 'Call Park'
      description: 'Parks a call to a virtual location from where it can further be retrieved by any user from any phone of the system. The call session and call party identifiers should be specified in path. Currently the users can park only their own incoming calls. Up to 50 calls can be parked simultaneously. Park location starts with asterisk (*) and ranges 801-899.'
      externalDocs:
        description: 'Find more info about body and response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+11.0#/Parties/op_party_park'
      operationId: 'callParkParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/park'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/unhold:
    post:
      tags:
        - 'Call Control'
      summary: 'Unhold Call Party'
      description: "Brings a party back into a call and stops to play Hold Music. There is a known limitation for Hold API - hold via REST API doesn't work with hold placed via RingCentral apps or HardPhone. It means that if you muted participant via Call Control API and RingCentral Desktop app, then you need to unhold both endpoints to remove Hold Music and bring media back."
      externalDocs:
        description: 'Find more info about response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Parties/op_party_unhold'
      operationId: 'unholdCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/unhold'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/flip:
    post:
      tags:
        - 'Call Control'
      summary: 'Call Flip on Party'
      description: 'Performs call flip procedure by holding opposite party and calling to the specified target'
      externalDocs:
        description: 'Find more info about body and response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Parties/op_party_flip'
      operationId: 'callFlipParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPartyFlip'
        required: true
      responses:
        '200':
          description: 'Success'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/flip'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/reply:
    post:
      tags:
        - 'Call Control'
      summary: 'Reply with Text'
      description: 'Replies with text/pattern without picking up a call.'
      operationId: 'replyParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPartyReply'
        required: true
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplyParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Server is unable to process request just now'
      x-api-group: 'telephony/sessions/parties/reply'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/bridge:
    post:
      tags:
        - 'Call Control'
      summary: 'Bridge Call Party'
      description: 'Allows the user to connect multiple call session participants over a conference call bridge. The current active call session ID and party ID of the user within this session should be specified in path; the bridged call session ID and party ID of the user within that session should be specified in request body. Thus the user connects participants of two sessions into one conference call using his/her own party IDs from both sessions.'
      operationId: 'bridgeCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'Defines target call session and call party to be bridged'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgeTargetRequest'
        required: true
      responses:
        '200':
          description: 'Bridged Call Info'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/bridge'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/ignore:
    post:
      tags:
        - 'Call Control'
      summary: 'Ignore Call in Queue'
      description: 'Ignores a call to a call queue agent in `Setup` or `Proceeding` state.'
      externalDocs:
        description: 'Find more info about body and response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+19.2#/Parties/op_party_ignore'
      operationId: 'ignoreCallInQueue'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IgnoreRequestBody'
        required: true
      responses:
        '204':
          description: 'No Content'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
      x-api-group: 'telephony/sessions/parties/ignore'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/supervise:
    post:
      tags:
        - 'Call Control'
      summary: 'Supervise Call Party'
      description: "Allows to monitor a call party in 'Listen' mode. Input parameters are extension number of a monitored user and internal identifier of a supervisor's device. Call session and party identifiers should be specified in path. Please note that for this method dual channel audio flow is supported, which means that you need to make one more request for monitoring the second participant of a call. And as a result of each monitoring request the client receives SIP invite with the following header `p-rc-api-monitoring-ids` containing IDs of the monitored party and session. The flow is supported for calls with no more than 2 participants. Currently this method is supported for Softphone/Hardphone only, since device IDs for WebRTC/Mobile apps cannot be obtained."
      operationId: 'superviseCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartySuperviseRequest'
        required: true
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartySuperviseResponse'
        '400':
          description: 'Bad Request'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/supervise'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/reject:
    post:
      tags:
        - 'Call Control'
      summary: 'Reject Call Party'
      description: 'Rejects an inbound call in a "Setup" or "Proceeding" state'
      operationId: 'rejectParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      responses:
        '204':
          description: 'No Content'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/reject'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/recordings:
    post:
      tags:
        - 'Call Control'
      summary: 'Create Recording'
      description: 'Starts a new call recording for the party'
      externalDocs:
        description: 'Find more info about response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Parties/op_party_addRecording'
      operationId: 'startCallRecording'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      responses:
        '201':
          description: 'Created'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/recordings'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/recordings/{recordingId}:
    patch:
      tags:
        - 'Call Control'
      summary: 'Pause/Resume Recording'
      description: 'Pause/resume recording'
      externalDocs:
        description: 'Find more info about response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Parties/op_party_modifyRecording'
      operationId: 'pauseResumeCallRecording'
      parameters:
        - name: 'brandId'
          in: 'query'
          description: 'Identifies a brand of a logged in user or a brand of a sign-up session'
          required: true
          schema:
            type: 'string'
            default: '~'
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
        - name: 'recordingId'
          in: 'path'
          description: 'Internal identifier of a recording'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRecordingUpdate'
        required: true
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecording'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/recordings'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/answer:
    post:
      tags:
        - 'Call Control'
      summary: 'Answer Call Party'
      description: 'Answers a call on a certain device by passing the corresponding device ID in request body. Supported for call forwarding, call transfer, call flip and call queues.'
      operationId: 'answerCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'Distributes a non-answered call to the defined target. Only a single target is allowed'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerTarget'
        required: true
      responses:
        '200':
          description: 'Call Session Information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/answer'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/transfer:
    post:
      tags:
        - 'Call Control'
      summary: 'Transfer Call Party'
      description: 'Transfers an answered call to the specified call party. Applicable for a call session in "Answered" or "Hold" state.'
      operationId: 'transferCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'Specifies a call party to which the call will be transferred. Only a single call party is allowed.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferTarget'
        required: true
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/transfer'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/hold:
    post:
      tags:
        - 'Call Control'
      summary: 'Hold Call Party'
      description: "Puts the party to stand-alone mode and starts to play Hold Music according to configuration & state to peers. There is a known limitation for Hold API - hold via REST API doesn't work with hold placed via RingCentral apps or HardPhone. It means that if you muted participant via Call Control API and RingCentral Desktop app, then you need to unhold both endpoints to remove Hold Music and bring media back."
      operationId: 'holdCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/hold'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/pickup:
    post:
      tags:
        - 'Call Control'
      summary: 'Pickup Call'
      description: 'Picks up a call parked to the specified park location.'
      operationId: 'pickupCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'Distributes a non-answered call to the defined target. Only a single target is allowed'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupTarget'
        required: true
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
      x-api-group: 'telephony/sessions/parties/pickup'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/forward:
    post:
      tags:
        - 'Call Control'
      summary: 'Forward Call Party'
      description: 'Forwards a non-answered incoming call to the specified call party. Applicable for a call session in "Setup" or "Proceeding" state.'
      externalDocs:
        description: 'Find more info about body and response format'
        url: 'https://wiki.ringcentral.com/display/TA/Telephony+Platform+API+-+TAS+10.2#/Parties/op_party_forward'
      operationId: 'forwardCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
      requestBody:
        description: 'Specifies a call party to which the call will be forwarded. Only a single call party is allowed.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForwardTarget'
        required: true
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParty'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/forward'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/play/{playId}:
    delete:
      tags:
        - 'Call Control'
      summary: 'Stop Playing Audio File'
      description: 'Stop playing audio file into a party'
      operationId: 'stopPlayCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
        - $ref: '#/components/parameters/TelephonyPlayId'
      responses:
        '204':
          description: 'No Content'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/play'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/play/{playId}/pause:
    post:
      tags:
        - 'Call Control'
      summary: 'Pause Playing Audio File'
      description: 'Pause playing audio file.'
      operationId: 'pausePlayCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
        - $ref: '#/components/parameters/TelephonyPlayId'
      responses:
        '204':
          description: 'No Content'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/play'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/telephony/sessions/{telephonySessionId}/parties/{partyId}/play/{playId}/resume:
    post:
      tags:
        - 'Call Control'
      summary: 'Resume Playing Audio File'
      description: 'Resume playing audio file.'
      operationId: 'resumePlayCallParty'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TelephonySessionId'
        - $ref: '#/components/parameters/TelephonySessionPartyId'
        - $ref: '#/components/parameters/TelephonyPlayId'
      responses:
        '204':
          description: 'No Content'
        '400':
          description: 'Bad Request'
        '403':
          description: 'Forbidden'
        '404':
          description: 'Not Found'
        '409':
          description: 'Conflict'
        '500':
          description: 'Internal Server Error'
        '503':
          description: 'Service Temporary Unavailable'
      x-api-group: 'telephony/sessions/parties/play'
      x-throttling-group: 'Light'
      x-app-permission: 'CallControl'
  /restapi/v1.0/account/{accountId}/call-log:
    get:
      tags:
        - 'Call Log'
      summary: 'List Company Call Records'
      description: 'Returns call log records filtered by parameters specified.'
      operationId: 'readCompanyCallLog'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/CallLogExtensionNumber'
        - $ref: '#/components/parameters/CallLogPhoneNumber'
        - $ref: '#/components/parameters/CallDirection'
        - $ref: '#/components/parameters/CallType'
        - $ref: '#/components/parameters/CallLogView'
        - $ref: '#/components/parameters/CallLogWithRecording'
        - $ref: '#/components/parameters/CallRecordingType'
        - $ref: '#/components/parameters/CallLogDateFrom'
        - $ref: '#/components/parameters/CallLogDateTo'
        - $ref: '#/components/parameters/CallLogSessionId'
        - $ref: '#/components/parameters/CallLogTelephonySessionId'
        - name: 'page'
          in: 'query'
          description: 'Indicates the page number to retrieve. Only positive number values are accepted'
          schema:
            type: 'integer'
            format: 'int32'
            minimum: 1
            default: 1
        - name: 'perPage'
          in: 'query'
          description: 'Indicates the page size (number of items)'
          schema:
            type: 'integer'
            format: 'int32'
            minimum: 1
            default: 100
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCallLogResponse'
      x-api-group: 'account/call-log'
      x-feature: 'ReadAccountCallLog'
      x-availability: 'High'
      x-throttling-group: 'Heavy'
      x-app-permission: 'ReadCallLog'
      x-user-permission: 'FullCompanyCallLog'
  /restapi/v1.0/account/{accountId}/call-log/{callRecordId}:
    get:
      tags:
        - 'Call Log'
      summary: 'Get Company Call Record(s)'
      description: 'Returns individual call log record(s) by ID. Batch syntax is supported.'
      operationId: 'readCompanyCallRecord'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/CallRecordId'
        - $ref: '#/components/parameters/CallLogView'
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCallLogRecord'
      x-api-group: 'account/call-log'
      x-feature: 'ReadAccountCallLog'
      x-availability: 'High'
      x-throttling-group: 'Heavy'
      x-app-permission: 'ReadCallLog'
      x-user-permission: 'FullCompanyCallLog'
  /restapi/v1.0/account/{accountId}/call-log-sync:
    get:
      tags:
        - 'Call Log'
      summary: 'Sync Company Call Log'
      description: 'Synchronizes company call log records.'
      operationId: 'syncAccountCallLog'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/CallLogSyncType'
        - name: 'syncToken'
          in: 'query'
          description: 'Value of syncToken property of last sync request response'
          schema:
            type: 'string'
        - name: 'dateFrom'
          in: 'query'
          description: 'The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is the current moment'
          schema:
            type: 'string'
            format: 'date-time'
        - name: 'recordCount'
          in: 'query'
          description: "For 'FSync' the parameter is mandatory, it limits the number of records to be returned in response. For 'ISync' it specifies with how many records to extend sync frame to the past, the maximum number of records is 250"
          schema:
            type: 'integer'
            format: 'int32'
            minimum: 1
        - name: 'statusGroup'
          in: 'query'
          description: 'Type of calls to be returned.'
          style: 'form'
          explode: true
          schema:
            type: 'array'
            items:
              type: 'string'
              enum:
                - 'Missed'
                - 'All'
        - $ref: '#/components/parameters/CallLogView'
        - name: 'showDeleted'
          in: 'query'
          description: 'Supported for `ISync` mode. Indicates that deleted call records should be returned'
          schema:
            type: 'boolean'
            default: false
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCallLogSyncResponse'
      x-api-group: 'account/call-log-sync'
      x-feature: 'ReadAccountCallLog'
      x-availability: 'High'
      x-throttling-group: 'Heavy'
      x-app-permission: 'ReadCallLog'
      x-user-permission: 'ReadCallLog'
  /restapi/v1.0/account/{accountId}/active-calls:
    get:
      tags:
        - 'Call Log'
      summary: 'List Company Active Calls'
      description: 'Returns records of all calls that are in progress, ordered by start time in descending order.'
      operationId: 'listCompanyActiveCalls'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/CallDirection'
        - $ref: '#/components/parameters/CallLogView'
        - $ref: '#/components/parameters/CallType'
        - $ref: '#/components/parameters/CallTransportType'
        - name: 'page'
          in: 'query'
          description: 'Indicates the page number to retrieve. Only positive number values are accepted'
          schema:
            type: 'integer'
            format: 'int32'
            default: 1
            minimum: 1
        - name: 'perPage'
          in: 'query'
          description: 'Indicates the page size (number of items)'
          schema:
            type: 'integer'
            format: 'int32'
            default: 100
            minimum: 1
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyActiveCallsResponse'
      x-api-group: 'account/active-calls'
      x-feature: 'EditAccountCallLog'
      x-availability: 'Limited'
      x-throttling-group: 'Heavy'
      x-app-permission: 'ReadCallLog'
      x-user-permission: 'ReadCallLog'
  /restapi/v1.0/account/{accountId}/extension-bulk-update:
    post:
      tags:
        - 'Extensions'
      summary: 'Update Multiple Extensions'
      description: |
        Updates multiple extensions at once. Maximum 500 extensions can be updated per request.
      operationId: 'extensionBulkUpdate'
      parameters:
        - name: 'accountId'
          in: 'path'
          description: |
            Internal identifier of a RingCentral account or tilde (~) to
            indicate the account logged-in within the current session
          required: true
          schema:
            type: 'string'
            default: '~'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionBulkUpdateRequest'
        required: true
      responses:
        '200':
          description: 'Updated extensions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionBulkUpdateTaskResource'
      x-api-group: 'account/extension-bulk-update'
      x-feature: 'EditExtensionInfo'
      x-availability: 'Limited'
      x-throttling-group: 'Heavy'
      x-app-permission: 'EditExtensions'
      x-user-permission: 'EditExtensionInfo'
  /restapi/v1.0/account/{accountId}/extension-bulk-update/tasks/{taskId}:
    get:
      tags:
        - 'Extensions'
      summary: 'Get Extension Update Task Status'
      description: |
        Returns a status of a task to update multiple extensions.
      operationId: 'getExtensionBulkUpdateTask'
      parameters:
        - name: 'accountId'
          in: 'path'
          description: |
            Internal identifier of a RingCentral account or tilde (~) to
            indicate the account logged-in within the current session
          required: true
          schema:
            type: 'string'
            default: '~'
        - name: 'taskId'
          in: 'path'
          description: |
            Internal identifier of a task
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          description: 'Bulk update task status'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionBulkUpdateTaskResource'
      x-api-group: 'account/extension-bulk-update'
      x-feature: 'EditExtensionInfo'
      x-availability: 'Limited'
      x-throttling-group: 'Light'
      x-app-permission: 'EditExtensions'
      x-user-permission: 'EditExtensionInfo'
  /restapi/v1.0/account/{accountId}/templates:
    get:
      tags:
        - 'Extensions'
      summary: 'List User Templates'
      description: |
        Returns the list of user templates for the current account.
      operationId: 'listUserTemplates'
      parameters:
        - name: 'accountId'
          in: 'path'
          description: |
            Internal identifier of a RingCentral account or tilde (~) to
            indicate the account logged-in within the current session
          required: true
          schema:
            type: 'string'
            default: '~'
        - name: 'type'
          description: 'Type of a template'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'UserSettings'
              - 'CallHandling'
        - name: 'page'
          in: 'query'
          description: |
            Indicates a page number to retrieve. Only positive number values
            are allowed. Default value is '1'
          schema:
            type: 'integer'
            format: 'int32'
            default: 1
        - name: 'perPage'
          in: 'query'
          description: "Indicates a page size (number of items). If not specified, the value is '100' by default"
          schema:
            type: 'integer'
            format: 'int32'
            default: 100
      responses:
        '200':
          description: 'User templates information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTemplates'
      x-api-group: 'account/templates'
      x-feature: 'ReadCompanyInfo'
      x-availability: 'High'
      x-throttling-group: 'Medium'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyInfo'
  /restapi/v1.0/account/{accountId}/templates/{templateId}:
    get:
      tags:
        - 'Extensions'
      summary: 'Get User Template'
      description: |
        Returns the user template by ID.
      operationId: 'readUserTemplate'
      parameters:
        - name: 'accountId'
          in: 'path'
          description: |
            Internal identifier of a RingCentral account or tilde (~) to
            indicate the account logged-in within the current session
          required: true
          schema:
            type: 'string'
            default: '~'
        - name: 'templateId'
          in: 'path'
          required: true
          description: 'Internal identifier of a template'
          schema:
            type: 'string'
      responses:
        '200':
          description: 'User template information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
      x-api-group: 'account/templates'
      x-feature: 'ReadCompanyInfo'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyInfo'
  /restapi/v1.0/account/{accountId}/answering-rule:
    get:
      tags:
        - 'Call Handling Rules'
      summary: 'List Company Call Handling Rules'
      description: 'Returns a list of company call handling rules.'
      operationId: 'listCompanyAnsweringRules'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleList'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/answering-rule'
      x-feature: 'ReadAccountAnsweringRules'
      x-availability: 'High'
      x-throttling-group: 'Medium'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyAnsweringRules'
    post:
      tags:
        - 'Call Handling Rules'
      summary: 'Create Company Call Handling Rule'
      description: 'Creates call handling rule on account level.'
      operationId: 'createCompanyAnsweringRule'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAnsweringRuleRequest'
        required: true
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/answering-rule'
      x-feature: 'EditAccountAnsweringRules'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyAnsweringRules'
  /restapi/v1.0/account/{accountId}/answering-rule/{ruleId}:
    get:
      tags:
        - 'Call Handling Rules'
      summary: 'Get Company Call Handling Rule'
      description: 'Returns a company call handling rule by ID.'
      operationId: 'readCompanyAnsweringRule'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/CallHandlingRuleId'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleInfo'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/answering-rule'
      x-feature: 'ReadAccountAnsweringRules'
      x-availability: 'High'
      x-throttling-group: 'Light'
      x-app-permission: 'ReadAccounts'
      x-user-permission: 'ReadCompanyAnsweringRules'
    put:
      tags:
        - 'Call Handling Rules'
      summary: 'Update Company Call Handling Rule'
      description: 'Updates a company call handling rule.'
      operationId: 'updateCompanyAnsweringRule'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/CallHandlingRuleId'
      requestBody:
        description: 'JSON body'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAnsweringRuleUpdate'
        required: true
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/answering-rule'
      x-feature: 'EditAccountAnsweringRules'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyAnsweringRules'
    delete:
      tags:
        - 'Call Handling Rules'
      summary: 'Delete Company Call Handling Rule'
      description: 'Deletes a company custom call handling rule by a particular ID.'
      operationId: 'deleteCompanyAnsweringRule'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/CallHandlingRuleId'
      responses:
        '204':
          description: 'No Content'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-api-group: 'account/answering-rule'
      x-feature: 'EditAccountAnsweringRules'
      x-availability: 'Limited'
      x-throttling-group: 'Medium'
      x-app-permission: 'EditAccounts'
      x-user-permission: 'EditCompanyAnsweringRules'
  /restapi/v1.0/account/{accountId}/a2p-sms/messages:
    get:
      tags:
        - 'High Volume SMS'
      summary: 'List A2P SMS Messages'
      description: 'Returns the list of outbound/inbound A2P messages sent from/to A2P phone numbers of the current account. The list can be filtered by message batch ID and/or phone number.'
      operationId: 'listA2PSMS'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/QueryBatchId'
        - $ref: '#/components/parameters/SmsDirection'
        - $ref: '#/components/parameters/SmsDateFrom'
        - $ref: '#/components/parameters/SmsDateTo'
        - name: 'view'
          in: 'query'
          required: false
          description: 'Indicates if the response has to be detailed, includes text in the response if detailed'
          schema:
            type: 'string'
            default: 'Simple'
            enum:
              - 'Simple'
              - 'Detailed'
        - name: 'phoneNumber'
          in: 'query'
          required: false
          style: 'form'
          explode: true
          description: "List of phone numbers (specified in 'to' or 'from' fields of a message) to filter the results. Maximum number of phone numbers allowed to be specified as filters is 15"
          schema:
            type: 'array'
            items:
              type: 'string'
          example:
            - '15551234455'
            - '15551235577'
        - name: 'pageToken'
          in: 'query'
          required: false
          description: 'The page token of the page to be retrieved.'
          schema:
            type: 'string'
          example: 'pgt1'
        - name: 'perPage'
          in: 'query'
          required: false
          description: 'The number of messages to be returned per request'
          schema:
            type: 'integer'
            format: 'int32'
            default: 1000
          example: 1
      responses:
        '200':
          description: |
            The list of messages sent by the account and filtered by the criteria specified in the query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageListResponse'
        '400':
          description: 'Invalid Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              examples:
                CMN-101:
                  value:
                    errorCode: 'CMN-101'
                    message: 'Parameter [${parameterName}] value is invalid.'
                CMN-110:
                  value:
                    errorCode: 'CMN-110'
                    message: 'Header ${parameterName} should be specified'
                CMN-407:
                  value:
                    errorCode: 'CMN-407'
                    message: 'Parameter in header is invalid'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
        '404':
          description: 'No resource found for the account.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-102'
                message: 'Resource for parameter [${parameterName}] is not found.'
        '500':
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-203'
                message: 'Internal Server Error'
      x-api-group: 'asg/a2p-sms/messages'
      x-feature: 'SMSSending'
      x-throttling-group: 'Light'
      x-availability: 'High'
      x-app-permission: 'A2PSMS'
  /restapi/v1.0/account/{accountId}/a2p-sms/messages/{messageId}:
    get:
      tags:
        - 'High Volume SMS'
      summary: 'Get A2P SMS'
      description: 'Returns the details of an A2P SMS message by ID.'
      operationId: 'readA2PSMS'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: 'messageId'
          in: 'path'
          description: 'Internal identifier of a message to be retrieved'
          required: true
          schema:
            type: 'string'
          example: '1234'
      responses:
        '200':
          description: 'The message is found and returned'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDetailsResponse'
        '400':
          description: 'Invalid request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              examples:
                CMN-101:
                  value:
                    errorCode: 'CMN-101'
                    message: 'Parameter [${parameterName}] value is invalid.'
                CMN-110:
                  value:
                    errorCode: 'CMN-110'
                    message: 'Header ${parameterName} should be specified'
                CMN-407:
                  value:
                    errorCode: 'CMN-407'
                    message: 'Parameter in header is invalid'
        '401':
          description: 'Unauthorized error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
        '404':
          description: 'The message is not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-102'
                message: 'Resource for parameter [${parameterName}] is not found.'
        '500':
          description: 'Service is not available'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-203'
                message: 'Internal Server Error'
      x-api-group: 'asg/a2p-sms/message'
      x-feature: 'SMSSending'
      x-throttling-group: 'Light'
      x-availability: 'High'
      x-app-permission: 'A2PSMS'
  /restapi/v1.0/account/{accountId}/a2p-sms/statuses:
    get:
      tags:
        - 'High Volume SMS'
      summary: 'List A2P SMS Statuses'
      description: 'Retrieves a set of message counts by message status and error codes filtered by dates, batchId and message direction.'
      operationId: 'aggregateA2PSMSStatuses'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/QueryBatchId'
        - $ref: '#/components/parameters/SmsDirection'
        - $ref: '#/components/parameters/SmsDateFrom'
        - $ref: '#/components/parameters/SmsDateTo'
        - name: 'phoneNumber'
          in: 'query'
          required: false
          style: 'form'
          explode: true
          description: "List of phone numbers (specified in 'to' or 'from' fields of a message) to filter the results. Maximum number of phone numbers allowed to be specified as filters is 15"
          schema:
            type: 'array'
            items:
              type: 'string'
          example:
            - '15551234455'
            - '15551235577'
      responses:
        '200':
          description: 'The statuses of the messages sent by the account filtered by criteria specified in the query'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageStatusesResponse'
        '400':
          description: 'Invalid request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              examples:
                CMN-110:
                  value:
                    errorCode: 'CMN-110'
                    message: 'Header ${parameterName} should be specified'
                CMN-407:
                  value:
                    errorCode: 'CMN-407'
                    message: 'Parameter in header is invalid'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
        '404':
          description: 'No resource found for the account'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-102'
                message: 'Resource for parameter [${parameterName}] is not found.'
        '500':
          description: 'Service Unavailable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-203'
                message: 'Internal Server Error'
      x-api-group: 'asg/a2p-sms/statuses'
      x-feature: 'SMSSending'
      x-throttling-group: 'Light'
      x-availability: 'High'
      x-app-permission: 'A2PSMS'
  /restapi/v1.0/account/{accountId}/a2p-sms/opt-outs:
    get:
      tags:
        - 'High Volume SMS'
      summary: 'Get Opted Out Numbers'
      description: 'Returns the list of numbers opted out from the account. The list can be filtered by `to`/`from` phone number query parameters. Specifying `text/csv` in the Accept header downloads the data in CSV format.'
      operationId: 'readA2PSMSOptOuts'
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: 'from'
          in: 'query'
          required: false
          description: 'The sender''s phone number in [E.164](https://www.itu.int/rec/T-REC-E.164-201011-I) format for filtering messages. The asterisk value "*" means any number in `from` field'
          schema:
            type: 'string'
          example: '15551234455'
        - name: 'to'
          in: 'query'
          required: false
          description: "The receiver's phone number (`to` field) in [E.164](https://www.itu.int/rec/T-REC-E.164-201011-I) format for filtering messages"
          example: '15551237755'
          schema:
            type: 'string'
        - name: 'status'
          in: 'query'
          required: false
          description: 'The status (opted out, opted in, or both) to be used as the filter'
          schema:
            type: 'string'
            default: 'optout'
            enum:
              - 'optout'
              - 'optin'
              - 'all'
          example: 'optout'
        - name: 'pageToken'
          in: 'query'
          required: false
          description: 'The page token of the page to be retrieved'
          schema:
            type: 'string'
          example: 'pgt1'
        - name: 'perPage'
          in: 'query'
          required: false
          description: 'The number of records to be returned for the page'
          schema:
            type: 'integer'
            format: 'int32'
            default: 1000
          example: 5
      responses:
        '200':
          description: 'The list of opt records for the account filtered by the search criteria provided as query param'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptOutListResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/OptOutListResponse'
        '400':
          description: 'Invalid Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              examples:
                CMN-101:
                  value:
                    errorCode: 'CMN-101'
                    message: 'Parameter [${parameterName}] value is invalid.'
                CMN-110:
                  value:
                    errorCode: 'CMN-110'
                    message: 'Header ${parameterName} should be specified'
                CMN-407:
                  value:
                    errorCode: 'CMN-407'
                    message: 'Parameter in header is invalid'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
        '404':
          description: 'No resource found for the account'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-102'
                message: 'Resource for parameter [${parameterName}] is not found.'
        '500':
          description: 'Service Unavailable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-203'
                message: 'Internal Server Error'
      x-api-group: 'asg/a2p-sms/opt-outs'
      x-feature: 'SMSSending'
      x-throttling-group: 'Light'
      x-availability: 'High'
      x-app-permission: 'A2PSMS'
  /restapi/v1.0/account/{accountId}/a2p-sms/opt-outs/bulk-assign:
    post:
      tags:
        - 'High Volume SMS'
      operationId: 'addA2PSMSOptOuts'
      description: |
        Adds multiple opt-outs and/or opt-ins for the specified sender number and a set of recipient numbers.
      summary: 'Add Opt-In/Out Numbers'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        description: |
          Consists of `from` field and `optOuts` and `optIns` lists.
          Both `optOuts` and `optIns` can be empty but not simultaneously - at least one of the lists must be entered.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptOutBulkAssignRequest'
      responses:
        '200':
          description: 'The results of adding opt-outs and opt-ins.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptOutBulkAssignResponse'
        '400':
          description: 'Invalid Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              examples:
                CMN-101:
                  value:
                    errorCode: 'CMN-101'
                    message: 'Parameter [from] value is invalid.'
                CMN-104:
                  value:
                    errorCode: 'CMN-104'
                    message: 'Cannot parse request'
        '500':
          description: 'Service Unavailable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASGErrorResponse'
              example:
                errorCode: 'CMN-203'
                message: 'Internal Server Error'
      x-api-group: 'asg/a2p-sms/opt-outs/bulk-assign'
      x-feature: 'SMSSending'
      x-throttling-group: 'Light'
      x-availability: 'High'
      x-app-permission: 'A2PSMS'
  /restapi/v1.0/account/{accountId}/a2p-sms/batches:
    post:
      tags:
        - 'High Volume SMS'
      summary: 'Send A2P SMS'
      description: |
        Allows to send high volume of A2P (Application-to-Person) SMS messages
        (in message batches). Only phone number with the `A2PSmsSender` feature can
        be used as a sender.
      operationId: 'createA2PSMS'
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        description: 'SMS batch payload'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageBatchCreateRequest'
      responses:
        '201':
          description: 'Message batch created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBatchResponse'
        '400':
          description: 'Validation Failed, Invalid Request'
          content:
            application/json:
              schema:
[...]
