openapi: "3.0.3"
info:
  title: "RingCentral API"
  description: "RingCentral API specification"
  version: "SPEC_VERSION"
  contact:
    name: "RingCentral Developers Support"
    url: "https://developers.ringcentral.com/support"
  termsOfService: "https://www.ringcentral.com/legal/apilitos.html"
  license:
    name: "RingCentral API License Agreement"
    url: "https://www.ringcentral.com/legal/apilitos.html"
servers:
- url: "https://platform.ringcentral.com"
  description: "Production API entry point"
- url: "https://media.ringcentral.com"
  description: "Production Media entry point"
- url: "https://platform.devtest.ringcentral.com"
  description: "Developer sandbox API entry point"
- url: "https://platform.devtest.ringcentral.com"
  description: "Developer sandbox Media entry point"
x-tagGroups:
- name: "Voice"
  popular: true
  tags:
  - "Business Hours"
  - "Call Blocking"
  - "Call Control"
  - "Call Forwarding"
  - "Call Handling Rules"
  - "Interaction Rules"
  - "State-based Rules"
  - "Call Flip"
  - "Call Log"
  - "Call History"
  - "Call Log Export"
  - "Call Monitoring Groups"
  - "Call Queues"
  - "Call Recordings"
  - "Call Recording Settings"
  - "Device SIP Registration"
  - "Greetings"
  - "IVR"
  - "RingOut"
  - "Verification Calls"
- name: "SMS and Fax"
  popular: true
  tags:
  - "Fax"
  - "Message Exports"
  - "Message Store"
  - "Pager Messages"
  - "SMS"
  - "High Volume SMS"
  - "SMS Log Export"
  - "SMS Templates"
  - "Voicemail Broadcasting"
- name: "Social Messaging"
  popular: true
  tags:
  - "Identities"
  - "Contents"
- name: "Team Messaging"
  popular: true
  tags:
  - "Adaptive Cards"
  - "Bots"
  - "Calendar Events"
  - "Chats"
  - "Conversations"
  - "Compliance Exports"
  - "Contacts"
  - "Incoming Webhooks"
  - "Notes"
  - "Posts"
  - "Profile"
  - "Tasks"
  - "Teams"
- name: "Video"
  popular: true
  tags:
  - "Bridge Management"
  - "Delegation Management"
  - "Meetings History"
  - "Meeting Recordings"
  - "RCM Meetings (Legacy)"
  - "RCM Webinars (Legacy)"
- name: "Webinar"
  popular: true
  tags:
  - "Webinars and Sessions"
  - "Invitees"
  - "Historical Webinars"
  - "Historical Recordings"
  - "Registration Management"
  - "Registrants"
  - "Webinar Analytics"
  - "Webinar Subscriptions"
- name: "Analytics"
  popular: true
  tags:
  - "Business Analytics"
- name: "Artificial Intelligence"
  popular: true
  tags:
  - "Insights"
  - "Audio"
  - "Text"
  - "Status"
- name: "Authentication"
  tags:
  - "OAuth 2.0 / OpenID Connect"
  - "Interoperability"
- name: "Account"
  tags:
  - "Company"
  - "Custom Fields"
  - "Features"
  - "Licenses"
  - "Tax Locations"
  - "Cost Centers"
  - "Multi-Site"
  - "Phone Numbers"
  - "Presence"
  - "Regional Settings"
  - "User Permissions"
  - "User Settings"
  - "Audit Trail"
  - "Calling Rates"
  - "Appearance Customization"
  - "Account Integrations"
  - "Custom Preferences"
- name: "Provisioning"
  tags:
  - "Automatic Location Updates"
  - "Devices"
  - "Extensions"
  - "Paging Only Groups"
  - "Park Locations"
  - "Phone Lines"
  - "SCIM"
  - "Shared Lines"
  - "Group Call Pickup"
  - "Delegated Lines Groups"
  - "Directed Call Pickup"
  - "IVR Apps"
  - "Video Configuration"
  - "Number Porting"
  - "SMB"
  - "Account Federation"
  - "Integrations"
  - "Enterprise Portal API"
  - "Push to Talk Provisioning"
  - "BYOC"
- name: "Address Book"
  tags:
  - "External Contacts"
  - "Internal Contacts"
  - "Hybrid Directory Contacts"
  - "Overlay Contacts"
  - "External Shared Directory"
- name: "Roles and Permissions"
  tags:
  - "Permissions"
  - "Role Management"
  - "Site Administration"
  - "User Groups"
- name: "Events & Notifications"
  tags:
  - "Subscriptions"
- name: "User Integrations"
  tags:
  - "Token Management"
  - "Calendar Management"
  - "Calendar Event Management"
  - "Calendar Presence Link"
  - "Cloud Personal Contacts"
  - "Cloud Shared Contacts"
  - "Cloud Directory"
  - "Deprecated Calendar API"
- name: "Rooms"
  tags:
  - "Rooms Client API"
  - "Rooms Management API"
- name: "App Management"
  tags:
  - "App Gallery"
  - "App Rating Review"
  - "Bot Provisioning"
- name: "Workflow Builder"
  tags:
  - "Flows"
  - "Flow Editor"
  - "Flow Log"
  - "Flow Templates"
- name: "Utilities"
  tags:
  - "API Info"
  - "Application Settings"
  - "Async Tasks"
  - "User Notifications"
  - "Client Versions"
  - "End-to-End Encryption"
security:
- OAuth2: []
tags:
- name: "Registration Management"
  description: "External APIs for registration flow management"
- name: "Message Exports"
  description: "External interface to export user's messages"
- name: "Message Store"
- name: "Call Forwarding"
- name: "Device SIP Registration"
- name: "Call Queues"
- name: "Compliance Exports"
- name: "Phone Numbers"
- name: "Invitees"
  description: "External APIs to manage webinar invitees and invitations"
- name: "API Info"
- name: "Tasks"
- name: "User Permissions"
- name: "Internal Contacts"
- name: "Identities"
- name: "Devices"
- name: "Call Control"
- name: "Company"
- name: "Call Log"
- name: "Fax"
- name: "User Settings"
- name: "Text"
  description: "Conversational AI text processing APIs"
- name: "External Contacts"
- name: "RingOut"
- name: "Regional Settings"
- name: "Webinar Subscriptions"
  description: "General interface to manage webinar subscriptions"
- name: "Paging Only Groups"
- name: "Subscriptions"
  description: "General interface to manage subscriptions"
- name: "Multi-Site"
- name: "Presence"
- name: "Features"
- name: "Notes"
- name: "Automatic Location Updates"
- name: "Extensions"
- name: "Role Management"
- name: "IVR"
- name: "SMS"
- name: "Greetings"
- name: "Audit Trail"
- name: "Incoming Webhooks"
- name: "Meeting Recordings"
- name: "Call Monitoring Groups"
- name: "SMS Templates"
- name: "Business Hours"
- name: "Registrants"
  description: "External APIs for registrants management"
- name: "Contents"
- name: "Posts"
- name: "Call Handling Rules"
- name: "Business Analytics"
- name: "High Volume SMS"
- name: "Webinars and Sessions"
  description: "External APIs for webinar and session management"
- name: "Chats"
- name: "Delegation Management"
- name: "Calendar Events"
- name: "Conversations"
- name: "Call Recording Settings"
- name: "Video Configuration"
- name: "Audio"
  description: "Conversational AI audio processing APIs"
- name: "Site Administration"
- name: "Insights"
  description: "Conversational AI insight APIs"
- name: "Pager Messages"
- name: "Custom Fields"
- name: "Bridge Management"
- name: "Adaptive Cards"
- name: "Call Blocking"
- name: "Historical Webinars"
  description: "Historical webinars and sessions information"
- name: "OAuth 2.0 / OpenID Connect"
  description: "Public OAuth 2.0 and OpenID Connect Resources"
- name: "Teams"
- name: "RCM Meetings (Legacy)"
- name: "SCIM"
- name: "Meetings History"
- name: "Call Recordings"
- name: "Historical Recordings"
  description: "Historical webinar recordings management (host and admin interfaces)"
- name: "Status"
  description: "Conversational AI async job status"
- name: "Profile"
paths:
  /webinar/notifications/v1/subscriptions:
    get:
      tags:
      - "Webinar Subscriptions"
      summary: "List Webinar Subscriptions"
      description: "Returns a list of webinar subscriptions created by the user for the current authorized client application."
      operationId: "rcwN11sListSubscriptions"
      responses:
        "200":
          description: "List of Subscriptions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionListResource"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-request-max-body-size: "100m"
      x-availability: "High"
      x-throttling-group: "Light"
    post:
      tags:
      - "Webinar Subscriptions"
      summary: "Create Webinar Subscription"
      description: "Creates a new webinar subscription for the current authorized user / client application."
      operationId: "rcwN11sCreateSubscription"
      requestBody:
        description: "JSON body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookSubscriptionRequest"
        required: true
      responses:
        "201":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionInfo"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-request-max-body-size: "100m"
      x-availability: "High"
      x-throttling-group: "Medium"
  /webinar/notifications/v1/subscriptions/{subscriptionId}:
    get:
      tags:
      - "Webinar Subscriptions"
      summary: "Get Webinar Subscription"
      description: "Returns the webinar subscription by ID"
      operationId: "rcwN11sGetSubscription"
      parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionInfo"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-request-max-body-size: "100m"
      x-availability: "High"
      x-throttling-group: "Light"
    put:
      tags:
      - "Webinar Subscriptions"
      summary: "Update Webinar Subscription"
      description: |
        Updates the existing subscription. The client application can extend/narrow
        the list of events for which it receives notifications within this subscription.
        If event filters are specified, calling this method modifies them for the
        existing subscription. The method also allows setting the subscription expiration time.
        If other than `events` and `expiresIn` parameters are passed in the request they will be ignored.
        If the request body is empty then the specified subscription will be just renewed without any
        event filter modifications and with default expiration time.
      operationId: "rcwN11sUpdateSubscription"
      parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      requestBody:
        description: "JSON body"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSubscriptionRequest"
        required: true
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionInfo"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-request-max-body-size: "100m"
      x-availability: "High"
      x-throttling-group: "Medium"
    delete:
      tags:
      - "Webinar Subscriptions"
      summary: "Cancel Webinar Subscription"
      description: "Cancels the existing webinar subscription."
      operationId: "rcwN11sDeleteSubscription"
      parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      responses:
        "204":
          description: "No Content"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-request-max-body-size: "100m"
      x-availability: "High"
      x-throttling-group: "Medium"
  /webinar/notifications/v1/subscriptions/{subscriptionId}/renew:
    post:
      tags:
      - "Webinar Subscriptions"
      summary: "Renew Webinar Subscription"
      description: "Renews the existing webinar subscription."
      operationId: "rcwN11sRenewSubscription"
      parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      responses:
        "200":
          description: "Subscription renewed successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionInfo"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-request-max-body-size: "100m"
      x-availability: "High"
      x-throttling-group: "Light"
  /webinar/history/v1/webinars/{webinarId}:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    get:
      tags:
      - "Historical Webinars"
      summary: "Get Historical Webinar"
      description: "Returns a historical webinar information by ID (host interface)"
      operationId: "rcwHistoryGetWebinar"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebinarResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/webinars/{webinarId}/sessions/{sessionId}:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    - $ref: "#/components/parameters/RcwSessionId"
    get:
      tags:
      - "Historical Webinars"
      summary: "Get Historical Webinar Session"
      description: "Returns a historical webinar Session by ID. Access allowed to participants with original role as Host or CoHost."
      operationId: "rcwHistoryGetSession"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResource"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/webinars/{webinarId}/sessions/{sessionId}/participants:
    get:
      tags:
      - "Historical Webinars"
      summary: "List Session Participants"
      description: |
        Returns the list of participants of a given Webinar Session (host interface).
      operationId: "rcwHistoryListParticipants"
      parameters:
      - $ref: "#/components/parameters/RcwWebinarId"
      - $ref: "#/components/parameters/RcwSessionId"
      - $ref: "#/components/parameters/Role"
      - $ref: "#/components/parameters/OriginalRole"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/webinars/{webinarId}/sessions/{sessionId}/participants/self:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    - $ref: "#/components/parameters/RcwSessionId"
    get:
      tags:
      - "Historical Webinars"
      summary: "Get Participant Information"
      description: |
        Returns the participant information specific to a webinar session. Accessible by any authenticated participant.
        For a non-authenticated participant, API returns error.
      operationId: "rcwHistoryGetParticipantInfo"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantReducedModel"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/webinars/{webinarId}/sessions/{sessionId}/invitees:
    get:
      tags:
      - "Historical Webinars"
      summary: "List Session Invitees"
      description: |
        Returns the list of Invitees (co-hosts and panelists) of a given Webinar Session (host interface).
        An implicit record created for a Webinar 'Host' is always returned.
      operationId: "rcwHistoryListInvitees"
      parameters:
      - $ref: "#/components/parameters/RcwWebinarId"
      - $ref: "#/components/parameters/RcwSessionId"
      - $ref: "#/components/parameters/Role"
      - $ref: "#/components/parameters/OriginalRole"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteeListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/webinars/{webinarId}/sessions/{sessionId}/invitees/{inviteeId}:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    - $ref: "#/components/parameters/RcwSessionId"
    - $ref: "#/components/parameters/RcwInviteeId"
    get:
      tags:
      - "Historical Webinars"
      summary: "Get Session Invitee"
      description: "Returns a historical session invitee information by ID (host interface)."
      operationId: "rcwHistoryGetInvitee"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteeModel"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/company/recordings:
    get:
      tags:
      - "Historical Recordings"
      summary: "List Webinar Recordings (Admin)"
      description: |
        Returns the list of webinar recordings (Administrator's interface).
        The user must have "WebinarSettings" permission granted otherwise the API returns HTTP 403.
      operationId: "rcwHistoryAdminListRecordings"
      parameters:
      - name: "nameFragment"
        in: "query"
        description: "Filter to return only webinar recordings containing particular substring within their names"
        required: false
        explode: true
        schema:
          type: "string"
        example: "All-hands"
      - $ref: "#/components/parameters/CreationTimeFrom"
      - $ref: "#/components/parameters/CreationTimeTo"
      - $ref: "#/components/parameters/RecordingStatus"
      - $ref: "#/components/parameters/HostUserId"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingAdminListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/company/recordings/{recordingId}:
    get:
      tags:
      - "Historical Recordings"
      summary: "Get Webinar Recording (Admin)"
      description: |
        Returns the webinar recording by ID (Administrator's interface).

        The user must have "WebinarSettings" permission granted otherwise the API returns HTTP 403.
      operationId: "rcwHistoryAdminGetRecording"
      parameters:
      - $ref: "#/components/parameters/RecordingId"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingAdminExtendedItemModel"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/company/sessions:
    get:
      tags:
      - "Historical Webinars"
      summary: "List Historical Webinar Sessions across Multiple Webinars / Hosts"
      description: |
        Returns the list of historical Webinar Sessions hosted by particular user(s) or all company users
        sorted by 'endTime' in the descending order. Depending on a session status 'endTime' can
        represent actual end time or scheduled end time.
        The user must have "WebinarSettings" permission granted otherwise the API returns HTTP 403.
      operationId: "rcwHistoryListAllCompanySessions"
      parameters:
      - $ref: "#/components/parameters/HostUserId"
      - $ref: "#/components/parameters/SessionStatus"
      - $ref: "#/components/parameters/EndTimeFrom"
      - $ref: "#/components/parameters/EndTimeTo"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionGlobalListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/recordings:
    get:
      tags:
      - "Historical Recordings"
      summary: "List Webinar Recordings"
      description: |
        Returns the list of webinar recordings for a given webinar host user
      operationId: "rcwHistoryListRecordings"
      parameters:
      - $ref: "#/components/parameters/CreationTimeFrom"
      - $ref: "#/components/parameters/CreationTimeTo"
      - $ref: "#/components/parameters/RecordingStatus"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/recordings/{recordingId}:
    get:
      tags:
      - "Historical Recordings"
      summary: "Get Webinar Recording"
      description: |
        Returns the webinar recording by ID (Webinar host's interface).
        This API also returns sharing link if sharing is enabled.
      operationId: "rcwHistoryGetRecording"
      parameters:
      - $ref: "#/components/parameters/RecordingId"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingItemExtendedModel"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/recordings/{recordingId}/download:
    get:
      tags:
      - "Historical Recordings"
      summary: "Get Webinar Recording Download Resource"
      description: |
        Returns the webinar recording download link (both Webinar host's and admin interface).

        If called by a webinar host, the API returns error (403) if recording downloading is prohibited by company settings.
        The admin user who has "WebinarSettings" permission should be able to download recording regardless of current company settings.
      operationId: "rcwHistoryGetRecordingDownload"
      parameters:
      - $ref: "#/components/parameters/RecordingMediaType"
      - $ref: "#/components/parameters/RecordingId"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingDownloadModel"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/history/v1/sessions:
    get:
      tags:
      - "Historical Webinars"
      summary: "List Historical Webinar Sessions across Multiple Webinars"
      description: |
        Returns the list of historical Webinar Sessions hosted by a current authorized user
        sorted by 'endTime' in the descending order. Depending on a session status 'endTime' can
        represent actual end time or scheduled end time.
      operationId: "rcwHistoryListAllSessions"
      parameters:
      - name: "nameFragment"
        in: "query"
        description: "Filter to return only webinar sessions containing particular substring within their names"
        required: false
        explode: true
        schema:
          type: "string"
        example: "All-hands"
      - $ref: "#/components/parameters/SessionStatus"
      - $ref: "#/components/parameters/EndTimeFrom"
      - $ref: "#/components/parameters/EndTimeTo"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionGlobalListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/registration/v1/sessions/{sessionId}:
    get:
      tags:
      - "Registration Management"
      summary: "Get Registration Session Info"
      description: |
        Returns a registration Session information by ID.

        A caller must be an authorized user: either a host of the webinar or an IT Admin:
        a user from host's account with "WebinarSettings" permission.
      operationId: "rcwRegGetSession"
      parameters:
      - $ref: "#/components/parameters/RcwSessionId"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegSessionModel"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
    patch:
      tags:
      - "Registration Management"
      summary: "Update Registration Session"
      description: |
        Updates a Session by ID.

        This is a PARTIAL update (PATCH), client may call it providing only attributes which are to be changed.

        A caller must be an authorized user: either a host of the webinar or an IT Admin:
        a user from host's account with "WebinarSettings" permission.

        If a session record with given ID doesn't exist on Registration Service side the API should return HTTP 404.
      operationId: "rcwRegUpdateSession"
      parameters:
      - $ref: "#/components/parameters/RcwSessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegSessionModel"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegSessionModel"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
  /webinar/registration/v1/sessions/{sessionId}/registrants:
    get:
      tags:
      - "Registrants"
      summary: "List Session Registrants"
      description: |
        Returns the list of Registrants ordered by "id" ascending.

        A caller must be an authorized user: either a host of the webinar or an IT Admin:
        a user from host's account with "WebinarSettings" permission.
      operationId: "rcwRegListRegistrants"
      parameters:
      - $ref: "#/components/parameters/RcwSessionId"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      - $ref: "#/components/parameters/IncludeQuestionnaire"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrantListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
    post:
      tags:
      - "Registrants"
      summary: "Create Registrant"
      description: |
        Creates a new Registrant for a given session.

        Registration MUST be open for the session for this call to succeed (otherwise it should return HTTP 403).

        A caller must be an authorized user: either a host of the webinar or an IT Admin:
        a user from host's account with "WebinarSettings" permission.
      operationId: "rcwRegCreateRegistrant"
      parameters:
      - $ref: "#/components/parameters/RcwSessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistrantBaseModelWithQuestionnaire"
      responses:
        "201":
          description: "Successful response, new Registrant is created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrantModelResponsePostWithQuestionnaire"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
  /webinar/registration/v1/sessions/{sessionId}/registrants/{registrantId}:
    get:
      tags:
      - "Registrants"
      summary: "Get Registrant"
      description: |
        Returns a Registrant by ID.

        A caller must be an authorized user: either a host of the webinar or an IT Admin:
        a user from host's account with "WebinarSettings" permission.
      operationId: "rcwRegGetRegistrant"
      parameters:
      - $ref: "#/components/parameters/RcwSessionId"
      - $ref: "#/components/parameters/RegistrantId"
      - $ref: "#/components/parameters/IncludeQuestionnaire"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrantModelWithQuestionnaire"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
    delete:
      tags:
      - "Registrants"
      summary: "Delete Registrant"
      description: |
        Deletes a Registrant by ID.

        Session must not be in finished state (otherwise it should return HTTP 403).

        A caller must be an authorized user: either a host of the webinar or an IT Admin:
        a user from host's account with "WebinarSettings" permission.
      operationId: "rcwRegDeleteRegistrant"
      parameters:
      - $ref: "#/components/parameters/RcwSessionId"
      - $ref: "#/components/parameters/RegistrantId"
      responses:
        "204":
          description: "The Registrant was successfully deleted"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
  /webinar/configuration/v1/webinars:
    post:
      tags:
      - "Webinars and Sessions"
      summary: "Create Webinar"
      description: |
        Creates a new webinar.

        If "host" parameter is NOT passed then the current authorized user will become a Host.
        If "host" parameter is passed then the caller must be a company administrator and have "WebinarSettings" permission.
        "host.linkedUser.accountId" must be the same as authorized user's account ID.

        The webinar settings which are not mandated at account level or are unlocked can be
        specified. All other settings are defaulted according to account policy.
      operationId: "rcwConfigCreateWebinar"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebinarCreationRequest"
      responses:
        "201":
          description: "Successful response, new Webinar is created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsWebinarResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
    get:
      tags:
      - "Webinars and Sessions"
      summary: "List User's Webinars"
      description: |
        Returns the list of Webinars hosted by a current authorized user sorted by 'scheduledStartTime' or 'creationTime' in the ascending order.
      operationId: "rcwConfigListWebinars"
      parameters:
      - $ref: "#/components/parameters/WcsCreationTimeFrom"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebinarListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/configuration/v1/webinars/{webinarId}:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    get:
      tags:
      - "Webinars and Sessions"
      summary: "Get Webinar"
      description: |
        Returns a Webinar information by ID.
        Some webinar settings are returned basing on webinar-level overrides, other - from default settings defined at account level.
      operationId: "rcwConfigGetWebinar"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsWebinarResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
    patch:
      tags:
      - "Webinars and Sessions"
      summary: "Update Webinar"
      description: |
        Updates a Webinar. The payload may contain just changed fields of a Webinar resource (it is a partial update):
        - host cannot be changed, and host user information cannot be updated;
        - only the settings which are not mandated at account level or are unlocked can be
        changed;
        - in order to reset a webinar password it should be passed as an empty string;
        - "registrationStatus" cannot be changed.
      operationId: "rcwConfigUpdateWebinar"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebinarBaseModel"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsWebinarResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
    delete:
      tags:
      - "Webinars and Sessions"
      summary: "Delete Webinar"
      description: |
        Deletes a Webinar by ID. All child objects (Sessions, Invitees) will be also deleted.
        It is disallowed to delete a Webinar which has at least one Session in 'Active' or 'Finished' state.
      operationId: "rcwConfigDeleteWebinar"
      responses:
        "204":
          description: "The Webinar was successfully deleted"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
  /webinar/configuration/v1/webinars/{webinarId}/sessions:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    post:
      tags:
      - "Webinars and Sessions"
      summary: "Create Webinar Session"
      description: "Creates a new Session for a given Webinar"
      operationId: "rcwConfigCreateSession"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WcsSessionWithLocaleCodeModel"
      responses:
        "201":
          description: "Successful response, new Session is created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsSessionResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
  /webinar/configuration/v1/webinars/{webinarId}/sessions/{sessionId}:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    - $ref: "#/components/parameters/RcwSessionId"
    patch:
      tags:
      - "Webinars and Sessions"
      summary: "Update Webinar Session"
      description: |
        Updates a Webinar Session. The payload may contain certain attributes from the Session resource
        (it is a partial update). Changing the 'status' field usually invokes certain workflow actions.
        Updating a Session in 'Active' or 'Finished' status is prohibited.
        Some status transitions (for example, to 'Active" or 'Finished') may be prohibited.
      operationId: "rcwConfigUpdateSession"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WcsSessionWithLocaleCodeModel"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsSessionResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
    get:
      tags:
      - "Webinars and Sessions"
      summary: "Get Webinar Session"
      description: "Returns a Webinar Session by ID."
      operationId: "rcwConfigGetSession"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsSessionResource"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
    delete:
      tags:
      - "Webinars and Sessions"
      summary: "Delete Webinar Session"
      description: |
        Deletes a Webinar Session. All child objects (Invitees) will be also deleted.
        It is disallowed to delete a Session which is in 'Active' or 'Finished' state
      operationId: "rcwConfigDeleteSession"
      responses:
        "204":
          description: "The Session was successfully deleted"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
  /webinar/configuration/v1/webinars/{webinarId}/sessions/{sessionId}/invitees:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    - $ref: "#/components/parameters/RcwSessionId"
    patch:
      tags:
      - "Invitees"
      summary: "Bulk Add/Delete Session Invitees"
      description: |
        Adds, updates and deletes Webinar Session invitees in bulk (co-hosts and panelists in phase 1
        and also invited attendees in subsequent phases).
        The payload may contain multiple added, updated or deleted invitees.
        For each added record 'role' and either 'firstName'/'lastName'/'email' (for non-authenticated users)
        or 'linkedUser.*' (for authenticated users) must be specified, but not both.
        For updated invitees 'id'  and 'role' must be specified, 'linkedUser' change is not supported.
        For deleted invitees only there ids should be specified.
        The response contains added/updated records (full) and deleted records (ids only).

        Deleting an invitee for a Session in 'Active' or 'Finished' status is prohibited.
      operationId: "rcwConfigUpdateInvitees"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpdateInviteesRequest"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateInviteesResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
    get:
      tags:
      - "Invitees"
      summary: "List Session Invitees"
      description: |
        Returns the list of Invitees (co-hosts and panelists in phase 1
        and also invited attendees in subsequent phases) of a given Webinar Session.
        An implicit record created for a Webinar 'Host' is always returned.
      operationId: "rcwConfigListInvitees"
      parameters:
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsInviteeListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/configuration/v1/webinars/{webinarId}/sessions/{sessionId}/invitees/{inviteeId}:
    parameters:
    - $ref: "#/components/parameters/RcwWebinarId"
    - $ref: "#/components/parameters/RcwSessionId"
    - $ref: "#/components/parameters/RcwInviteeId"
    get:
      tags:
      - "Invitees"
      summary: "Get Session Invitee"
      description: "Returns a Session Invitee information by ID"
      operationId: "rcwConfigGetInvitee"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteeResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
    put:
      tags:
      - "Invitees"
      summary: "Update Session Invitee"
      description: |
        Updates a Session Invitee. 'role' is required (it can be changed from 'Panelist' to 'CoHost' or vise versa).
        It is disallowed to update 'linkedUser': it should be done by deleting then adding an invitee.
        For non-authenticated users 'firstName'/'lastName'/'email' can be specified, but not both.
        Implicit record created for a Webinar 'Host' cannot be modified.
        Also it is disallowed to change any other role to 'Host'.
      operationId: "rcwConfigUpdateInvitee"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInviteeRequest"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteeResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
    delete:
      tags:
      - "Invitees"
      summary: "Delete Session Invitee"
      description: |
        Deletes a Session Invitee. Implicit record created for a Webinar 'Host' cannot be deleted.
        Deleting an invitee for a Session in 'Active' or 'Finished' status is prohibited (HTTP 403).
      operationId: "rcwConfigDeleteInvitee"
      responses:
        "204":
          description: "The Invitee was successfully deleted"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "EditWebinars"
  /webinar/configuration/v1/company/sessions:
    get:
      tags:
      - "Webinars and Sessions"
      summary: "List Sessions across Multiple Webinars/Hosts"
      description: |
        Returns the list of Webinar Sessions hosted by all company users or particular user(s) sorted by
        'scheduledStartTime' or 'creationTime' (if 'scheduledStartTime' is not set) in the ascending ordered.
        The user must have "WebinarSettings" permission granted otherwise the API returns HTTP 403.
      operationId: "rcwConfigListAllCompanySessions"
      parameters:
      - name: "status"
        in: "query"
        description: "Filter to return only webinar sessions in certain status. Multiple values are supported."
        required: false
        explode: true
        schema:
          $ref: "#/components/schemas/WcsSessionStatusModel"
        example: "Scheduled"
      - $ref: "#/components/parameters/WcsEndTimeFrom"
      - $ref: "#/components/parameters/HostUserId"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsSessionGlobalListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /webinar/configuration/v1/sessions:
    get:
      tags:
      - "Webinars and Sessions"
      summary: "List Sessions across Multiple Webinars"
      description: |
        Returns the list of Webinar Sessions hosted by a current authorized user sorted by
        'scheduledStartTime' or 'creationTime' (if 'scheduledStartTime' is not set) in the ascending order
      operationId: "rcwConfigListAllSessions"
      parameters:
      - name: "nameFragment"
        in: "query"
        description: "Filter to return only webinar sessions containing particular substring within their names"
        required: false
        explode: true
        schema:
          type: "string"
        example: "All-hands"
      - name: "status"
        in: "query"
        description: "Filter to return only webinar sessions in certain status. Multiple values are supported."
        required: false
        explode: true
        schema:
          $ref: "#/components/schemas/WcsSessionStatusModel"
        example: "Scheduled"
      - $ref: "#/components/parameters/WcsEndTimeFrom"
      - $ref: "#/components/parameters/PerPage"
      - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WcsSessionGlobalListResource"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "500":
          $ref: "#/components/responses/InternalError"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadWebinars"
  /restapi/v1.0/account/{accountId}/recording/{recordingId}/content:
    get:
      tags:
      - "Call Recordings"
      summary: "Get Call Recording Content"
      description: |
        Returns media content of a call recording (`audio/mpeg` or `audio/wav`)

        **This API must be called via media API entry point, e.g. https://media.ringcentral.com**
      operationId: "readCallRecordingContent"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/CallRecordingId"
      - $ref: "#/components/parameters/ContentDisposition"
      - $ref: "#/components/parameters/ContentDispositionFilename"
      responses:
        "200":
          description: "Successful response"
          content:
            audio/mpeg:
              schema:
                type: "string"
                format: "binary"
            audio/wav:
              schema:
                type: "string"
                format: "binary"
      x-media-api: true
      x-availability: "High"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadCallRecording"
  /restapi/v1.0/account/{accountId}/greeting/{greetingId}/content:
    get:
      tags:
      - "Greetings"
      summary: "Get Account Greeting Media Content"
      description: |
        Returns account-level greeting media contents.

        **This API must be called via media API entry point, e.g. https://media.ringcentral.com**
      operationId: "readAccountGreetingContent"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/GreetingId"
      - $ref: "#/components/parameters/ContentDisposition"
      - $ref: "#/components/parameters/ContentDispositionFilename"
      responses:
        "200":
          description: "Successful response"
          content:
            audio/*:
              schema:
                type: "string"
                format: "binary"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-media-api: true
      x-availability: "High"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadAccounts"
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/greeting/{greetingId}/content:
    get:
      tags:
      - "Greetings"
      summary: "Get Extension Greeting Media Content"
      description: |
        Returns extension-level greeting media contents.

        **This API must be called via media API entry point, e.g. https://media.ringcentral.com**
      operationId: "readGreetingContent"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/ExtensionId"
      - $ref: "#/components/parameters/GreetingId"
      - $ref: "#/components/parameters/ContentDisposition"
      - $ref: "#/components/parameters/ContentDispositionFilename"
      responses:
        "200":
          description: "Successful response"
          content:
            audio/*:
              schema:
                type: "string"
                format: "binary"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-media-api: true
      x-availability: "High"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadAccounts"
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/profile-image/{scaleSize}:
    get:
      tags:
      - "User Settings"
      summary: "Get Scaled Profile Image"
      description: |
        Returns the scaled profile image of an extension.

        **This API must be called via media API entry point, e.g. https://media.ringcentral.com**
      operationId: "readScaledProfileImage"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/ExtensionId"
      - $ref: "#/components/parameters/ProfileImageScale"
      - $ref: "#/components/parameters/ContentDisposition"
      - $ref: "#/components/parameters/ContentDispositionFilename"
      responses:
        "200":
          description: "Successful response"
          content:
            image/*:
              schema:
                type: "string"
                format: "binary"
      x-media-api: true
      x-availability: "High"
      x-throttling-group: "Medium"
      x-app-permission: "ReadAccounts"
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}:
    get:
      tags:
      - "Message Store"
      summary: "Get Message Attachment Content"
      description: |
        Returns media content of a message attachment.
        The content is typically an audio file (`audio/mpeg` or `audio/wav`) for voicemails,
        TIFF or PDF for faxes and image/audio/video for MMS.

        **This API must be called via media API entry point, e.g. https://media.ringcentral.com**
      operationId: "readMessageContent"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/ExtensionId"
      - name: "messageId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "attachmentId"
        in: "path"
        required: true
        schema:
          type: "string"
      - $ref: "#/components/parameters/ContentDisposition"
      - $ref: "#/components/parameters/ContentDispositionFilename"
      responses:
        "200":
          description: "Successful response"
          content:
            audio/*:
              schema:
                type: "string"
                format: "binary"
            image/*:
              schema:
                type: "string"
                format: "binary"
            video/*:
              schema:
                type: "string"
                format: "binary"
            application/pdf:
              schema:
                type: "string"
                format: "binary"
      x-media-api: true
      x-availability: "High"
      x-throttling-group: "Medium"
      x-app-permission: "ReadMessages"
  /restapi/v1.0/account/{accountId}/ivr-prompts/{promptId}/content:
    get:
      tags:
      - "IVR"
      summary: "Get IVR Prompt Content"
      description: "Returns media content of an IVR prompt by ID."
      operationId: "readIVRPromptContent"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/IvrPromptId"
      - $ref: "#/components/parameters/ContentDisposition"
      - $ref: "#/components/parameters/ContentDispositionFilename"
      responses:
        "200":
          description: "IVR Prompt Media Data"
          content:
            audio/*:
              schema:
                type: "string"
                format: "binary"
      x-media-api: true
      x-availability: "High"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadAccounts"
  /rcvideo/v2/account/{accountId}/extension/{extensionId}/bridges:
    post:
      tags:
      - "Bridge Management"
      summary: "Create Bridge"
      description: |
        Creates a new bridge for the user specified by **accountId** and **extensionId** identifiers. The request body
        should contain JSON object which describes properties of the new bridge.
        The bridge can be created by a user himself, his delegate or any user who has the **Super Admin** privilege.
      operationId: "createBridge"
      parameters:
      - name: "accountId"
        in: "path"
        description: "Account identifier"
        required: true
        schema:
          type: "string"
      - name: "extensionId"
        in: "path"
        description: "Extension identifier"
        required: true
        schema:
          type: "string"
      requestBody:
        description: "JSON object that describes properties of the new bridge"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBridgeRequest"
        required: false
      responses:
        "201":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeResponse"
        "406":
          description: "Not acceptable"
        "409":
          description: "Conflicting settings"
        "500":
          description: "Internal server error"
      x-throttling-group: "Heavy"
      x-websocket: true
      x-app-permission: "Video"
  /rcvideo/v2/account/{accountId}/extension/{extensionId}/bridges/default:
    get:
      tags:
      - "Bridge Management"
      summary: "Get User's Default Bridge"
      description: |
        Returns a default bridge (PMI) for the user specified by **accountId**
        and **extensionId** identifiers.
      operationId: "getDefaultBridge"
      parameters:
      - name: "accountId"
        in: "path"
        description: "Account identifier"
        required: true
        schema:
          type: "string"
      - name: "extensionId"
        in: "path"
        description: "Extension identifier"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeResponse"
        "404":
          description: "Not found"
        "500":
          description: "Internal server error"
      x-throttling-group: "Medium"
      x-websocket: true
      x-app-permission: "Video"
  /rcvideo/v2/bridges/pin/pstn/{pin}:
    get:
      tags:
      - "Bridge Management"
      summary: "Search Bridge by PSTN PIN"
      description: "Finds a bridge by Host or Participant PSTN PIN."
      operationId: "getBridgeByPstnPin"
      parameters:
      - name: "pin"
        in: "path"
        description: "Host or Participant PSTN PIN"
        required: true
        schema:
          type: "string"
      - name: "phoneNumber"
        in: "query"
        description: |
          Phone number to find a phone group for PSTN PIN. If it is not specified, then the default phone group will be used.
        schema:
          type: "string"
      - name: "pw"
        in: "query"
        required: false
        schema:
          type: "string"
        description: "Bridge hash password"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeResponse"
        "404":
          description: "Not found"
        "500":
          description: "Internal server error"
      x-throttling-group: "Medium"
      x-websocket: true
      x-app-permission: "Video"
  /rcvideo/v2/bridges/pin/web/{pin}:
    get:
      tags:
      - "Bridge Management"
      summary: "Search Bridge by Web PIN"
      description: |
        Finds a bridge by short identifier (Web PIN). Also it can be used to find a default bridge by the alias
        (personal meeting name).
      operationId: "getBridgeByWebPin"
      parameters:
      - name: "pin"
        in: "path"
        description: "Bridge short identifier (Web PIN) or alias (personal meeting name)"
        required: true
        schema:
          type: "string"
      - name: "pw"
        in: "query"
        required: false
        schema:
          type: "string"
        description: "Bridge hash password"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeResponse"
        "404":
          description: "Not found"
        "500":
          description: "Internal server error"
      x-throttling-group: "Medium"
      x-websocket: true
      x-app-permission: "Video"
  /rcvideo/v2/bridges/{bridgeId}:
    get:
      tags:
      - "Bridge Management"
      summary: "Get Bridge"
      description: "Returns a bridge by **bridgeId** identifier."
      operationId: "getBridge"
      parameters:
      - name: "bridgeId"
        in: "path"
        description: "Bridge identifier"
        required: true
        schema:
          type: "string"
      - name: "pw"
        in: "query"
        required: false
        schema:
          type: "string"
        description: "Bridge hash password"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeResponse"
        "404":
          description: "Not found"
        "500":
          description: "Internal server error"
      x-throttling-group: "Medium"
      x-websocket: true
      x-app-permission: "Video"
    patch:
      tags:
      - "Bridge Management"
      summary: "Update Bridge"
      description: |
        Updates a bridge by **bridgeId** identifier. The request body should contain JSON object with updating properties.
        Update can only be done by bridge owner, his delegate or any user who has the **Super Admin** privilege.
      operationId: "updateBridge"
      parameters:
      - name: "bridgeId"
        in: "path"
        description: "Bridge identifier"
        required: true
        schema:
          type: "string"
      requestBody:
        description: "JSON object with updating properties. Only specified properties will be updated."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBridgeRequest"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeResponse"
        "403":
          description: "Access denied"
        "404":
          description: "Not found"
        "406":
          description: "Not acceptable"
        "409":
          description: "Conflicting settings"
        "500":
          description: "Internal server error"
      x-throttling-group: "Medium"
      x-websocket: true
      x-app-permission: "Video"
    delete:
      tags:
      - "Bridge Management"
      summary: "Delete Bridge"
      description: |
        Deletes a bridge by **bridgeId** identifier.
        Deletion can only be done by bridge owner, his delegate or any user who has the **Super Admin** privilege.
      operationId: "deleteBridge"
      parameters:
      - name: "bridgeId"
        in: "path"
        description: "Bridge identifier"
        required: true
        schema:
          type: "string"
      responses:
        "204":
          description: "OK"
        "403":
          description: "Access denied"
        "404":
          description: "Not found"
        "500":
          description: "Internal server error"
      x-throttling-group: "Medium"
      x-websocket: true
      x-app-permission: "Video"
  /rcvideo/v1/account/{accountId}/recordings:
    get:
      tags:
      - "Meeting Recordings"
      summary: "List Account Recordings"
      description: |
        Returns all account recordings.
        This endpoint is used in Admin recording service, not regular web
      operationId: "getAccountRecordings"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/RcvPageToken"
      - $ref: "#/components/parameters/RcvPerPage"
      responses:
        "200":
          description: "Ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudRecordings"
        "403":
          $ref: "#/components/responses/RcvAccessForbidden"
        "404":
          $ref: "#/components/responses/RcvNotFound"
        "500":
          $ref: "#/components/responses/RcvInternalError"
      x-throttling-group: "Light"
      x-app-permission: "Video"
  /rcvideo/v1/account/{accountId}/extension/{extensionId}/recordings:
    get:
      tags:
      - "Meeting Recordings"
      summary: "List User Recordings"
      description: |
        Returns all recordings available for specific extension.
        This endpoint is used in admin recording service, not regular web
      operationId: "getExtensionRecordings"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/ExtensionId"
      - $ref: "#/components/parameters/RcvPageToken"
      - $ref: "#/components/parameters/RcvPerPage"
      responses:
        "200":
          description: "Ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudRecordings"
        "403":
          $ref: "#/components/responses/RcvAccessForbidden"
        "404":
          $ref: "#/components/responses/RcvNotFound"
        "500":
          $ref: "#/components/responses/RcvInternalError"
      x-throttling-group: "Light"
      x-app-permission: "Video"
  /rcvideo/v1/accounts/{accountId}/extensions/{extensionId}/delegators:
    get:
      tags:
      - "Delegation Management"
      summary: "Get Delegators"
      description: "Returns the list of users who can delegate bridge/meeting creation to the given user."
      operationId: "rcvListDelegators"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "extensionId"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DelegatorsListResult"
        "403":
          description: "The calling user must be the owner of the extension to get delegators"
        "500":
          description: "Internal server error"
      x-throttling-group: "Medium"
      x-app-permission: "Video"
  /rcvideo/v1/history/meetings:
    get:
      tags:
      - "Meetings History"
      summary: "List Video Meetings"
      description: "Returns the list of user meetings."
      operationId: "listVideoMeetings"
      parameters:
      - name: "text"
        in: "query"
        description: "Search text"
        schema:
          type: "string"
      - name: "pageToken"
        in: "query"
        description: "Token to get the next page"
        schema:
          type: "string"
      - name: "perPage"
        in: "query"
        description: "Number of records returned"
        schema:
          type: "integer"
          format: "int32"
      - name: "type"
        in: "query"
        description: |
          Specify what kind of meeting should be returned. Possible values: All, My, Deleted, Shared
          Request type meaning in meeting search:
          `None` (not passed) - take meetings only where requested acc/ext is participant OR host OR deputy OR watcher.
          `ALL`- access rights of meeting is equal to Alive AND requested acc/ext  is in watchers list OR host OR deputy
          `My`- access rights of meeting is equal to Alive AND requested acc/ext is host OR deputy
          `Shared` - access rights of meeting is equal to Alive AND requested acc/ext is in watcher list AND not HOST
          `Deleted` - access rights of meeting is equal to Delete and requested acc/ext is host OR deputy
        schema:
          type: "string"
          enum:
          - "All"
          - "My"
          - "Deleted"
          - "Shared"
      - name: "startTime"
        in: "query"
        description: "Unix timestamp in milliseconds (inclusive) indicates the start time of meetings which should be included in response"
        schema:
          type: "integer"
          format: "int64"
      - name: "endTime"
        in: "query"
        description: "Unix timestamp in milliseconds (inclusive) indicates the end time of meetings which should be included in response"
        schema:
          type: "integer"
          format: "int64"
      responses:
        "200":
          description: "Returns meetings list with pagination"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeetingPage"
        "400":
          $ref: "#/components/responses/RcvBadRequest"
        "500":
          $ref: "#/components/responses/RcvInternalError"
        "504":
          $ref: "#/components/responses/RcvTimeout"
      x-throttling-group: "Light"
      x-app-permission: "Video"
  /rcvideo/v1/history/meetings/{meetingId}:
    get:
      tags:
      - "Meetings History"
      summary: "Get Video Meeting"
      description: "Returns a user meeting by ID."
      operationId: "getVideoMeeting"
      parameters:
      - $ref: "#/components/parameters/RcvMeetingId"
      responses:
        "200":
          description: "Return meeting"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Meeting"
        "400":
          $ref: "#/components/responses/RcvBadRequest"
        "403":
          $ref: "#/components/responses/RcvAccessForbidden"
        "500":
          $ref: "#/components/responses/RcvInternalError"
        "504":
          $ref: "#/components/responses/RcvTimeout"
      x-throttling-group: "Light"
      x-app-permission: "Video"
  /restapi:
    get:
      tags:
      - "API Info"
      summary: "Get API Versions"
      description: "Returns current API version(s) and server info."
      operationId: "readAPIVersions"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiVersionsList"
      x-availability: "High"
      x-throttling-group: "NoThrottling"
  /restapi/oauth/token:
    post:
      tags:
      - "OAuth 2.0 / OpenID Connect"
      summary: "OAuth 2.0 Token Endpoint"
      description: |
        Returns access (and potentially refresh) tokens for making API requests.

        For confidential client application types
        this endpoint requires client authentication using one of the supported
        methods (`client_secret_basic`, `client_secret_jwt` or `private_key_jwt`)

        For non-confidential client application types
        the client identifier must be provided via `client_id` request attribute.
      operationId: "getToken"
      security:
      - {}
      - OauthBasicScheme: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/GetTokenRequest"
      responses:
        "200":
          description: "Access/Refresh Tokens"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInfo"
        "400":
          $ref: "#/components/responses/OauthInvalidRequest"
        "415":
          description: "Unsupported Media Type"
        "429":
          description: "Request rate exceeded"
      x-throttling-group: "Auth"
  /restapi/oauth/authorize:
    get:
      tags:
      - "OAuth 2.0 / OpenID Connect"
      summary: "OAuth 2.0 Authorization Endpoint"
      description: |
        Performs Authentication of the End-User by sending the User Agent to the Authorization Server's
        Authorization Endpoint for Authentication and Authorization,
        using request parameters defined by OAuth 2.0 [RFC-6749](https://datatracker.ietf.org/doc/html/rfc6749#section-3.1)
        and additional parameters and parameter values defined by
        [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint).

        This is the version that uses HTTP `GET` method.
      operationId: "authorize"
      parameters:
      - $ref: "#/components/parameters/OauthClientId"
      - name: "response_type"
        in: "query"
        required: true
        description: |
          Determines authorization flow type. The only supported value is `code` which corresponds to OAuth 2.0 "Authorization Code Flow"
        schema:
          type: "string"
          enum:
          - "code"
      - name: "redirect_uri"
        in: "query"
        required: false
        description: |
          This is the URI where the Authorization Server redirects the User Agent to at the end of the authorization flow.
          The value of this parameter must exactly match one of the URIs registered for this client application.
          This parameter is required if there are more than one redirect URIs registered for the app.
        schema:
          type: "string"
          format: "uri"
      - name: "state"
        in: "query"
        required: false
        description: |
          An opaque value used by the client to maintain state between the request and callback.
          The authorization server includes this value when redirecting the User Agent back
          to the client. The parameter SHOULD be used for preventing cross-site request forgery attacks.
        schema:
          type: "string"
      - name: "scope"
        in: "query"
        required: false
        description: "The list of space separated application permissions (OAuth scopes)"
        schema:
          type: "string"
      - name: "display"
        in: "query"
        required: false
        description: |
          Specifies how the Authorization Server displays the authentication and consent user interface pages to the End-User.
        schema:
          $ref: "#/components/schemas/DisplayModesEnum"
      - name: "prompt"
        in: "query"
        required: false
        description: |
          Space-delimited, case-sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for
          re-authentication and consent. The defined values are:

          - `login` - RingCentral native login form,
          - `sso` - Single Sign-On login form,
          - `consent` - form to show the requested scope and prompt user for consent.

          Either `login` or `sso` (or both) must be specified. The default
          value is `login sso`
        schema:
          type: "string"
          default: "login sso"
      - name: "ui_locales"
        in: "query"
        required: false
        description: |
          End-User's preferred languages and scripts for the user interface, represented as a space-separated list of
          [RFC-5646](https://datatracker.ietf.org/doc/html/rfc5646) language tag values, ordered by preference.

          If this parameter is provided, its value overrides 'Accept-Language' header value and 'localeId' parameter value (if any)
        schema:
          type: "string"
          example: "en-US"
      - name: "localeId"
        in: "query"
        deprecated: true
        description: "DEPRECATED: `ui_locales` parameter should be used instead"
        schema:
          type: "string"
          example: "en-US"
      - name: "code_challenge"
        in: "query"
        required: false
        description: |
          The code challenge value as defined by the PKCE specification -
          [RFC-7636 "Proof Key for Code Exchange by OAuth Public Clients"](https://datatracker.ietf.org/doc/html/rfc7636)
        schema:
          type: "string"
      - name: "code_challenge_method"
        in: "query"
        required: false
        description: |
          The code challenge method as defined by by the PKCE specification -
          [RFC-7636 "Proof Key for Code Exchange by OAuth Public Clients"](https://datatracker.ietf.org/doc/html/rfc7636)
        schema:
          $ref: "#/components/schemas/CodeChallengeMethodEnum"
      - name: "nonce"
        in: "query"
        required: false
        description: |
          String value used to associate a Client session with an ID Token, and to mitigate replay attacks. The value is passed through unmodified from the Authentication Request to the ID Token.
        schema:
          type: "string"
      - name: "ui_options"
        in: "query"
        required: false
        description: |
          Login form user interface options (space-separated). By default, the UI options that are registered for this client application will be used
        schema:
          type: "string"
      - name: "login_hint"
        in: "query"
        required: false
        description: "Hint to the Authorization Server about the login identifier the End-User might use to log in."
        schema:
          type: "string"
      - $ref: "#/components/parameters/OauthBrandId"
      responses:
        "302":
          description: "Successful response, HTTP redirect to login form"
          headers:
            Location:
              description: "Full URL of the redirect target locations"
              schema:
                type: "string"
                format: "uri"
        "400":
          $ref: "#/components/responses/OauthInvalidRequest"
      x-throttling-group: "Auth"
    post:
      tags:
      - "OAuth 2.0 / OpenID Connect"
      summary: "OAuth 2.0 Authorization Endpoint (POST)"
      description: |
        Performs Authentication of the End-User by sending the User Agent to the Authorization Server's
        Authorization Endpoint for Authentication and Authorization,
        using request parameters defined by OAuth 2.0 [RFC-6749](https://datatracker.ietf.org/doc/html/rfc6749#section-3.1)
        and additional parameters and parameter values defined by
        [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint).

        This is the version that uses HTTP `POST` method.
      operationId: "authorize2"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AuthorizeRequest"
      responses:
        "302":
          description: "Successful response, HTTP redirect to login form"
          headers:
            Location:
              description: "Full URL of the redirect target locations"
              schema:
                type: "string"
                format: "uri"
        "400":
          $ref: "#/components/responses/OauthInvalidRequest"
      x-throttling-group: "Auth"
  /restapi/oauth/revoke:
    post:
      tags:
      - "OAuth 2.0 / OpenID Connect"
      summary: "OAuth 2.0 Token Revocation Endpoint"
      description: |
        Revokes all active access/refresh tokens and invalidates the OAuth session basing on token provided.
        The `token` parameter may be passed in query string or body and may represent access or refresh token.

        This endpoint is defined by [RFC-7009 "OAuth 2.0 Token Revocation"](https://datatracker.ietf.org/doc/html/rfc7009)

        For confidential client application types
        this endpoint requires client authentication using one of the supported
        methods (`client_secret_basic`, `client_secret_jwt` or `private_key_jwt`)
      operationId: "revokeToken"
      parameters:
      - name: "token"
        in: "query"
        description: "Access or refresh token to be revoked (along with the entire OAuth session)"
        required: false
        schema:
          type: "string"
      security:
      - {}
      - OauthBasicScheme: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/RevokeTokenRequest"
        required: false
      responses:
        "200":
          description: "Successful response"
        "400":
          $ref: "#/components/responses/OauthInvalidRequest"
      x-throttling-group: "Auth"
  /restapi/v2/accounts/{accountId}:
    get:
      tags:
      - "Company"
      summary: "Get Account Info"
      description: "Returns basic information about particular RingCentral account"
      operationId: "getAccountInfoV2"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-availability: "Limited"
      x-throttling-group: "Light"
      x-app-permission: "ReadAccounts"
      x-user-permission: "ReadCompanyInfo"
  /restapi/v2/accounts/{accountId}/device-inventory:
    post:
      summary: "Add Phone to Inventory"
      description: "Adds an existing phone (customer provided device - BYOD) as an unassigned device to the account inventory."
      tags:
      - "Devices"
      operationId: "addDeviceToInventory"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddDeviceToInventoryRequest"
        required: true
      responses:
        "201":
          description: "Created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddDeviceToInventoryResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-feature: "EditAccountDevices"
      x-availability: "Limited"
      x-throttling-group: "Heavy"
      x-app-permission: "EditAccounts"
    delete:
      summary: "Delete Device from Inventory"
      description: |
        Deletes an existing unassigned (without digital line or phone number) device or multiple devices
        from the account inventory. It is possible to delete up to 10 devices per request.
      tags:
      - "Devices"
      operationId: "deleteDeviceFromInventory"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteDeviceFromInventoryRequest"
        required: true
      responses:
        "200":
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteDeviceFromInventoryResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-feature: "AddRemoveDevices"
      x-availability: "Limited"
      x-throttling-group: "Heavy"
      x-app-permission: "EditAccounts"
  /restapi/v2/accounts/{accountId}/send-welcome-email:
    post:
      tags:
      - "Company"
      summary: "Send/Resend Welcome Email"
      description: "Sends/resends welcome email to the system user of confirmed account"
      operationId: "sendWelcomeEmailV2"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: "object"
              properties:
                email:
                  type: "string"
                  format: "email"
                  example: "user@email.com"
      responses:
        "200":
          description: "Successful response"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-availability: "Limited"
      x-throttling-group: "Medium"
      x-app-permission: "EditExtensions"
      x-user-permission: "Users"
  /restapi/v2/accounts/{accountId}/phone-numbers:
    get:
      tags:
      - "Phone Numbers"
      summary: "List Account Phone Numbers"
      description: |
        Returns the list of phone numbers assigned to RingCentral customer
        account. Both company-level and extension-level numbers are returned.
        Conferencing numbers, hot desk and ELIN numbers are not returned.
      operationId: "listAccountPhoneNumbersV2"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/Page"
      - $ref: "#/components/parameters/PerPage"
      - name: "type"
        in: "query"
        description: "Types of phone numbers to be returned"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/PhoneNumberType"
      - name: "usageType"
        in: "query"
        description: "Usage type(s) of phone numbers to be returned"
        style: "form"
        explode: true
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/PhoneNumberUsageType"
      - name: "status"
        in: "query"
        required: false
        description: "Status of the phone number(s) to be returned"
        schema:
          $ref: "#/components/schemas/PhoneNumberStatus"
      - name: "tollType"
        in: "query"
        required: false
        description: "Toll type of phone numbers to return"
        schema:
          $ref: "#/components/schemas/PhoneNumberTollType"
      - name: "extensionStatus"
        in: "query"
        description: "Statuses of extensions to return phone numbers for"
        required: false
        schema:
          $ref: "#/components/schemas/ExtensionStatus"
      - name: "byocNumber"
        in: "query"
        description: "The parameter reflects whether this number is BYOC or not"
        required: false
        schema:
          type: "boolean"
      - name: "phoneNumber"
        in: "query"
        description: |
          Phone number in e.164 format to be searched for.
          Parameter value can include wildcards (e.g. "+165012345**")
          or be an exact number "+16501234500" - single number is searched in that case.
          Make sure you escape the "+" in the URL as "%2B"
        required: false
        schema:
          type: "string"
          maxLength: 18
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPhoneNumberList"
              examples:
                ListAccountPhoneNumbersResponse:
                  $ref: "#/components/examples/ListAccountPhoneNumbersResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-availability: "Limited"
      x-throttling-group: "Heavy"
      x-app-permission: "ReadAccounts"
      x-user-permission: "ReadCompanyPhoneNumbers"
    delete:
      tags:
      - "Phone Numbers"
      summary: "Delete Numbers from Inventory"
      description: |
        This method can only delete numbers that meet one of the following requirements:
          - numbers that have `"usageType": "Inventory"`
          - `"Forwarded"` numbers
          - `"Forwarded Company"` numbers

        In other words, this method will not delete numbers which are in use on the account - extension direct numbers,
        main number, etc. It is possible to indicate phone numbers to be deleted using their IDs or exact string values
        in e.164 format. However, the same lookup method (by ID or by value) must be used for all numbers within the same API call.
      operationId: "deleteNumbersFromInventoryV2"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeletePhoneNumbersRequest"
            examples:
              DeletePhoneNumbersRequest:
                $ref: "#/components/examples/DeletePhoneNumbersRequest"
        required: true
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePhoneNumbersResponse"
              examples:
                DeletePhoneNumbersResponse:
                  $ref: "#/components/examples/DeletePhoneNumbersResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-availability: "Limited"
      x-throttling-group: "Medium"
      x-app-permission: "EditAccounts"
      x-user-permission: "EditCompanyPhoneNumbers"
  /restapi/v2/accounts/{accountId}/phone-numbers/{phoneNumberId}:
    patch:
      tags:
      - "Phone Numbers"
      summary: "Assign Phone Number"
      description: |
        Assigns or reassigns a phone number as a company or extension number.

        Assign scenarios supported:
        - from Inventory to a company number;
        - from Inventory to an extension number.

        Reassign scenarios supported:
        - from an extension to another extension;
        - from an extension to a company number;
        - from a company number to an extension.
      operationId: "assignPhoneNumberV2"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/PhoneNumberId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignPhoneNumberRequest"
            examples:
              AssignPhoneNumberRequest:
                $ref: "#/components/examples/AssignPhoneNumberRequest"
        required: true
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPhoneNumberInfo"
              examples:
                AssignPhoneNumberResponse:
                  $ref: "#/components/examples/AssignPhoneNumberResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-availability: "Limited"
      x-throttling-group: "Medium"
      x-app-permission: "EditAccounts"
      x-user-permission: "EditCompanyPhoneNumbers"
  /restapi/v2/accounts/{accountId}/phone-numbers/{phoneNumberId}/replace:
    post:
      tags:
      - "Phone Numbers"
      summary: "Replace Phone Number"
      description: |
        Replaces (swaps) phone numbers from Inventory with the main, company, direct or company fax numbers.
        This method is used to replace temporary numbers when the porting process is complete.
      operationId: "replacePhoneNumberV2"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      - $ref: "#/components/parameters/PhoneNumberId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplacePhoneNumberRequest"
        required: true
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPhoneNumberInfo"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      x-availability: "Limited"
      x-throttling-group: "Medium"
      x-app-permission: "EditAccounts"
      x-user-permission: "EditCompanyPhoneNumbers"
  /restapi/v2/accounts/{accountId}/phone-numbers/bulk-add:
    post:
      tags:
      - "Phone Numbers"
      summary: "Add Numbers to Inventory"
      description: |
        Adds phone numbers to the account Inventory as unassigned. Currently, we support the following values: `Inventory`,
        `InventoryPartnerBusinessMobileNumber` and `PartnerBusinessMobileNumber`. Later we may support some other values like `ForwardedNumber`, etc.
      operationId: "addNumbersToInventoryV2"
      parameters:
      - $ref: "#/components/parameters/AccountId"
      requestBody:
[...]
